@page "/engagement-concern/escalate-engagement-concern/{id:int}"
@model EscalateEngagementConcernModel

@{
    ViewData["Title"] = "Escalate engagement concern";
}

@section BeforeMain
{
    <a asp-page="@Links.EngagementConcern.RecordEngagementConcern.Page" asp-route-id="@Model.SupportProject.Id" class="govuk-back-link">Back</a>
}

@if (Model.ShowError)
{
    <partial name="_ErrorSummary" />
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post">
            <div class="govuk-form-group">
                <span class="govuk-caption-l">@Model.SupportProject.SchoolName</span>
                <h2 class="govuk-heading-l">Escalate an engagement concern</h2>
                <p class="govuk-body">
                    If you have been unable to resolve an engagement concern, you may need to use mandation to compel the school to undergo the intervention.
                </p>
                <hr class="govuk-section-break govuk-section-break--m">
                
                <h2 class="govuk-heading-m">Before you start</h2>
                <p class="govuk-body">In order to escalate an engagement concern, you must have:</p>
                <ol>
                    <li>used any relationship levers available to the department</li>
                    <li>approval to escalate from a regional director</li>
                    <li>ratification from SOPU (Schools Operational Practice Unit)</li>
                </ol>
                <hr class="govuk-section-break govuk-section-break--m">
                
                <h2 class="govuk-heading-m">Gather evidence</h2>
                <p class="govuk-body">You must gather evidence to demonstrate that mandation is necessary. This can include:</p>
                <ul>
                    <li>adviser notes of meetings</li>
                    <li>your contact log</li>
                </ul>
                <p class="govuk-body">Save the evidence on SharePoint.</p>
                <hr class="govuk-section-break govuk-section-break--m">
                
                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                        <input name="confirm-steps-taken-hidden" type="hidden" value="false"/>
                        <input class="govuk-checkboxes__input @(Model.ShowCheckboxError ? "govuk-form-group--error" : "")"
                               id="confirm-steps-taken"
                               name="confirm-steps-taken"
                               value="true"
                               type="checkbox"
                               @(Model.ConfirmStepsTaken == true ? "checked" : "")
                               data-aria-controls="conditional-confirm-steps-taken"
                               data-cy="escalate-confirm-steps-taken-checkbox"/>
                        <label class="govuk-label govuk-checkboxes__label" for="confirm-steps-taken">
                            Confirm you have taken the required steps before escalating this concern
                        </label>
                        @if (Model.ShowCheckboxError)
                        {
                            <p id="more-detail-error" class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span> You must confirm you have taken the required steps
                            </p>
                        }
                    </div>
                </div>
            </div>
            <div class="govuk-button-group govuk-body">
                <button type="submit" role="button" draggable="false" class="govuk-button govuk-button" data-module="govuk-button" data-cy="escalate-confirm-steps-taken-btn">
                    Confirm and continue
                </button>
            </div>
        </form>
    </div>
</div>