@page "/engagement-concern/confirm-escalation/{id:int}"
@model EscalationConfirmationModel

@inject IConfiguration Configuration

@{
    ViewData["Title"] = "Escalation confirmation";
}

@section BeforeMain
{
    <nav aria-label="back navigation">
        <a asp-page="@Links.EngagementConcern.DateOfDecision.Page" asp-route-id="@Model.SupportProject.Id"
           class="govuk-back-link">Back</a>
    </nav>
}

@if (Model.ShowError)
{
    <partial name="_ErrorSummary"/>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation margin-bottom-30">
            <h1 class="govuk-panel__title">
                Mandation recorded
            </h1>
            <div class="govuk-panel__body">@Model.SupportProject.SchoolName</div>
        </div>
        <hr class="govuk-section-break govuk-section-break--m">
        <p class="govuk-body">You have recorded the escalation of an engagement conern. The school will be mandated to
            take part in targeted intervention.</p>

        <h2 class="govuk-heading-m">Update the mobile tracker</h2>
        <p class="govuk-body">You must ask SOPU to <a class="govuk-link"
                                                      href="@Model.SOPUCommissioningForm"
                                                      rel="noreferrer noopener"
                                                      target="_blank">record the use of a termination warning notice or
                notice to enter into arrangements in the tracker</a>.</p>

        <h2 class="govuk-heading-m">Publish the notice on GOV.UK</h2>
        <p class="govuk-body">You must also <a class="govuk-link"
                             href="@Model.SOPUCommissioningForm"
                                               rel="noreferrer noopener"
                                               target="_blank">send the approved notice and the regional director's
                approval to SOPU</a> (Schools operational practice unit) using the commissioning form.</p>
        <p class="govuk-body">They will publish the notice on GOV.UK.</p>

        <div class="govuk-button-group govuk-body">
            <a asp-page="@Links.EngagementConcern.Index.Page" asp-route-id="@Model.SupportProject.Id"
               class="govuk-button govuk-button--secondary" data-cy="escalate-confirmation-btn">View engagement
                concern</a>
        </div>
    </div>
</div>