@page "/engagement-concern/confirm-escalation/{id:int}"
@model EscalationConfirmationModel

@{
    ViewData["Title"] = "Escalation confirmation";
}

@section BeforeMain
{
    <a asp-page="@Links.EngagementConcern.DateOfDecision.Page" asp-route-id="@Model.SupportProject.Id" class="govuk-back-link">Back</a>
}

@if (Model.ShowError)
{
    <partial name="_ErrorSummary" />
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                Escalation recorded
            </h1>
        </div>
        <hr class="govuk-section-break govuk-section-break--m">
        <p class="govuk-body">The escalation is recorded, but mandation has not yet started.</p>
        <h2 class="govuk-heading-l">You must initiate mandation</h2>
        <p class="govuk-body">To initiate mandation, you must send a Coasting Notification Letter to the school.</p>
        <p class="govuk-body">You must also send them either a:</p>
        <ul>
            <li>Notice to Enter into Arrangements</li>
            <li>Termination Warning Notice</li>
        </ul>
        <h2 class="govuk-heading-m">Check which notice to use</h2>
        <p class="govuk-body">If it is a local authority maintained school, send the Notice to Enter into Arrangements.</p>
        <p class="govuk-body">If it is an academy, send the Termination Warning Notice.</p>
        <h2 class="govuk-heading-m">Preparing and issuing the notice</h2>
        <p class="govuk-body">You must complete the following steps before you can use a notice to mandate engagement.</p>
        <ol class="govuk-list govuk-list--number">
            <li>Use existing relationships to encourage voluntary engagement. </li>
            <li>Follow the mediation process to resolve issues informally.</li>
            <li>Consider the use of information powers if mediation fails.</li>
            <li>Gather evidence to show mandation is necessary.</li>
            <li>Get approval in principle to mandate from a regional director.</li>
            <li>Complete the mandation moderation process.</li>
            <li>Draft the notice.</li>
            <li>Consult the trust relationship manager or local autority lead about the actions in the notice, the notification letter and any contextual information that may help.</li>
            <li>Carry out the Public Sector Equality Duty assessment and save it in SharePoint.</li>
            <li><a href="https://educationgovuk.sharepoint.com/sites/lvewp00030/SitePages/Commissioning%20Form.aspx" class="govuk-link" rel="noreferrer noopener" target="_blank">Use the SOPU commissioning form (opens in new tab)</a> to submit the draft notice to SOPU for Legal Advisers Office clearance.</li>
            <li>Notify the school's responsible body, and diocese or foundation governors if applicable.</li>
            <li>Send the notice to the school and responsible body from the regional director's mailbox.</li>
            <li><a href="https://educationgovuk.sharepoint.com/sites/lvewp00030/SitePages/Commissioning%20Form.aspx" class="govuk-link" rel="noreferrer noopener" target="_blank">Complete the SOPU commissioning form (opens in new tab)</a> to request they record the notice in the Warning Notice Tracker.</li>
        </ol>
        <h2 class="govuk-heading-m">Use the letter and notice templates</h2>
        <p class="govuk-body">The letters and notices are templated. You must use these to make sure information in them is legally compliant.</p>
        
        @* to be used when we have the correct links *@
        @* <p class="govuk-body">The letter templates are on Sharepoint:</p> *@
        @* <ul> *@
        @*     <li><a class="govuk-link" href="@Model.CoastingNotificationLetterLink" target="_blank">Coasting Notification Letter template</a></li> *@
        @*     <li><a class="govuk-link" href="@Model.NoticeToEnterIntoArrangementsLink" target="_blank">Notice to Enter into Arrangements template</a></li> *@
        @*     <li><a class="govuk-link" href="@Model.TerminationWarningNoticeLink" target="_blank">Termination Warning Notice template</a></li> *@
        @* </ul> *@
        
        <div class="govuk-button-group govuk-body">
            <a asp-page="@Links.EngagementConcern.Index.Page" asp-route-id="@Model.SupportProject.Id" class="govuk-button govuk-button--secondary" data-cy="escalate-confirmation-btn">View engagement concern</a>
        </div>
    </div>
</div>