@page "/engagement-concern/reason-for-escalation/{id:int}"
@model ReasonForEscalationModel

@{
    ViewData["Title"] = "Reason for escalation";
}

@section BeforeMain
{
    <a asp-page="@Links.EngagementConcern.EscalateEngagementConcern.Page" asp-route-id="@Model.SupportProject.Id" class="govuk-back-link">Back</a>
}

@if (Model.ShowError)
{
    <partial name="_ErrorSummary" />
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">@Model.SupportProject.SchoolName</span>
        <form method="post">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h2 class="govuk-fieldset__heading">
                            Reason for escalation
                        </h2>
                    </legend>
                    <p class="govuk-body">Select the primary reason for escalation and enter details.</p>
                    <h2 class="govuk-heading-m">Primary reason for escalation</h2>
                    <p class="govuk-body">There may be several reasons to escalate, but choose the main cause.</p>
                    <govuk-radiobuttons-input heading-style="govuk-fieldset__legend--m" name="@nameof(Model.PrimaryReason)" radio-buttons="@Model.PrimaryReasonRadioButtons" asp-for="@Model.PrimaryReason"/>

                    <h2 class="govuk-heading-m">Details of escalation</h2>
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-!-margin-bottom-2" for="escalation-details">
                            Enter details of any contentious or complicated issues. This can include past or present legal action, political affiliations and conflicts of interest.
                        </label>
                        <textarea class="govuk-textarea" id="escalation-details" name="escalation-details" rows="5">@Model.EscalationDetails</textarea>
                    </div>
                </fieldset>
            </div>
            <div class="govuk-button-group govuk-body">
                <a asp-page="@Links.EngagementConcern.DateOfDecision.Page" asp-route-id="@Model.SupportProject.Id" class="govuk-button govuk-button">Continue</a>
            </div>
        </form>
    </div>
</div>