@page "/add-contact/{id:int}"
@using Dfe.ManageSchoolImprovement.Domain.ValueObjects
@model Dfe.ManageSchoolImprovement.Frontend.Pages.Contacts.AddContactModel
@{
    ViewData["Title"] = "Add contact";
}

@section BeforeMain
{
    <nav aria-label="back navigation">
        <a asp-page="@Links.Contacts.AddContactOrganisation.Page" asp-route-id="@Model.SupportProject.Id"
           class="govuk-back-link">Back</a>
    </nav>
}

@if (Model.ShowError)
{
    <partial name="_ErrorSummary" />
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">@Model.SupportProject.SchoolName</span>
        <h1 class="govuk-heading-xl">
            Add contact
        </h1>
        <form method="post" novalidate>
            <input hidden="true" asp-for="@Model.OrganisationType" />

@*             <govuk-radiobuttons-input heading="Role" heading-style="govuk-fieldset__legend--m" hint="Select one option"
                                      error-message="@Model.ErrorMessage" name="@nameof(Model.RoleId)"
                                      radio-buttons="@Model.RadioButtons" asp-for="@Model.RoleId" /> *@

            @if (Model.OrganisationType == OrganisationTypes.School)
            {
                <govuk-radiobuttons-input heading="School role" heading-style="govuk-fieldset__legend--m" hint="Select one option"
                                          error-message="@Model.ErrorMessage" name="@nameof(Model.OrganisationTypeSubCategory)"
                                          radio-buttons="@Model.SchoolRadioButtons" asp-for="@Model.OrganisationTypeSubCategory" />
            }
            else if (Model.OrganisationType == OrganisationTypes.SupportingOrganisation)
            {
                <govuk-radiobuttons-input heading="Supporting organisation" heading-style="govuk-fieldset__legend--m" hint="Select one option"
                                          error-message="@Model.ErrorMessage" name="@nameof(Model.OrganisationTypeSubCategory)"
                                          radio-buttons="@Model.SupportingOrganisationRadioButtons" asp-for="@Model.OrganisationTypeSubCategory" />
            }
            else
            {
                <govuk-radiobuttons-input heading="Goverance bodies" heading-style="govuk-fieldset__legend--m" hint="Select one option"
                                          error-message="@Model.ErrorMessage" name="@nameof(Model.OrganisationTypeSubCategory)"
                                          radio-buttons="@Model.GoverningBodyRadioButtons" asp-for="@Model.OrganisationTypeSubCategory" />
            }
            <button class="govuk-button" type="submit" id="continue-button" data-module="govuk-button"
                    data-cy="select-common-submitbutton">
                Continue
            </button>
        </form>
    </div>
</div>
