@page "/contacts/{id:int}"

@using Dfe.ManageSchoolImprovement.Domain.ValueObjects
@using Dfe.ManageSchoolImprovement.Utils
@model IndexModel
@{
    ViewData["Title"] = "Contact";
    TempData["AssignmentReferrer"] = @Links.Contacts.Index.Page;
}

@section BeforeMain
{
    <nav aria-label="back navigation">
        <a asp-page="@Model.ReturnPage" class="govuk-back-link">@Links.SchoolList.Index.BackText</a>
    </nav>
}

<partial name="_ProjectHeader" model="Model.SupportProject"/>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">Contacts</h2>
        <div class="govuk-!-margin-top-5">
            <a asp-page="@Links.Contacts.AddContact.Page" asp-route-id="@Model.SupportProject.Id" role="button"
               draggable="false" class="govuk-button" data-module="govuk-button">
                Add contact
            </a>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h3 class="govuk-heading-m">School contacts</h3>
            <div class="govuk-inset-text govuk-!-margin-top-0">
                <p class="govuk-body">
                    @(!string.IsNullOrEmpty(Model.SchoolAddress) ? Html.Raw(Model.SchoolAddress.Replace(",", "<br>")) : "Not available")
                </p>
            </div>
            @if (Model.SupportProject.HeadteacherName != null)
            {
                <partial name="_ContactCard"
                         model='@Model.Headteacher'/>
            }
            @if (Model.ChairOfGovernors != null)
            {
                <partial name="_ContactCard"
                         model='@Model.ChairOfGovernors'/>
            }
            @if (Model.AccountingOfficer != null)
            {
                <partial name="_ContactCard"
                         model='@Model.AccountingOfficer'/>
            }
            
            @if (Model.OtherSchoolContacts?.Any() == true)
            {
                foreach (var contact in Model.OtherSchoolContacts)
                {
                    <partial name="_ContactCard"
                             model='@contact'/>
                }
            }
        </div>

        @if (!string.IsNullOrEmpty(Model.SupportingOrganisationAccountingOfficer?.Name) || !string.IsNullOrEmpty(Model.SupportingOrganisationHeadteacher?.Name))
        {
            <div class="govuk-grid-column-three-quarters">
                <h3 class="govuk-heading-m">Supporting organisation contacts</h3>
                <div class="govuk-inset-text govuk-!-margin-top-0">
                    <p class="govuk-body">
                        @(!string.IsNullOrEmpty(Model.SupportingOrganisationAddress) ? Html.Raw(Model.SupportingOrganisationAddress.Replace(",", "<br>")) : "Not available")
                    </p>
                </div>
                @if (Model.SupportingOrganisationHeadteacher != null)
                {
                    <partial name="_ContactCard"
                             model="@Model.SupportingOrganisationHeadteacher"/>  
                }
                @if (Model.SupportingOrganisationAccountingOfficer != null)
                {
                    <partial name="_ContactCard"
                             model="@Model.SupportingOrganisationAccountingOfficer"/>
                }
            </div>
        }
        
        @if (Model.OtherContacts?.Any() == true)
        {
            <div class="govuk-grid-column-three-quarters">
                <h3 class="govuk-heading-m">Other contacts</h3>
                @foreach (var contact in Model.OtherContacts)
                {
                    <partial name="_ContactCard" model="@contact"/>
                }
            </div>
        }
    </div>
</div>

