@page "/task-list/review-the-improvement-plan/{id:int}"
@model Dfe.ManageSchoolImprovement.Frontend.Pages.TaskList.ReviewTheImprovementPlan.IndexModel
@{
    ViewData["Title"] = "Review the improvement plan";
}

@section BeforeMain
{
    <a asp-page="@Links.TaskList.Index.Page" asp-route-id="@Model.SupportProject.Id" class="govuk-back-link">Back</a>
}

@if (Model.ShowError)
{
   <partial name="_ErrorSummary"/>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l" data-cy="school-name">@Model.SupportProject.SchoolName</span>
        <h1 class="govuk-heading-l" data-cy="page-heading">
            Review the improvement plan
        </h1>
        <p class="govuk-body" data-cy="instruction-to-adviser">Check the improvement plan that the supporting organisation and responsible body have completed. If needed, give feedback and suggest changes.</p>
        <form method="post" novalidate>
            <govuk-date-input label="Enter date improvement plan received" id="date-improvement-plan-received" name="date-improvement-plan-received" asp-for="@Model.DateImprovementPlanReceived"  hint="For example, 1 7 2024."/>
            <br>
            <govuk-checkbox-input label="Review the plan with the adviser and regional team" id="review-improvement-plan-with-team" name="review-improvement-plan-with-team" asp-for="@Model.ReviewImprovementPlanWithTeam" />
            <div class="govuk-form-group">
                <div class="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                        <input name="send-improvement-plan-to-rise-hidden" type="hidden" value="false" />
                        <input class="govuk-checkboxes__input" id="send-improvement-plan-to-rise" name="send-improvement-plan-to-rise" type="checkbox" value="true" 
                               checked="@Model.SendImprovementPlanToRiseGrantTeam"
                               >
                        <label class="govuk-label govuk-checkboxes__label" for="send-improvement-plan-to-rise">
                            Send the draft improvement and expenditure plans to the RISE grant team for review
                                <br />
                                <span id="send-improvement-plan-to-rise-hint" class="govuk-hint">
                                    You must include the name of the supporting organisation and the school. Send the plans to <a class='govuk-link' href='mailto:@Model.EmailAddress?subject=Manage%20school%20improvement:%20support%20query'>@Model.EmailAddress</a>
                                </span>
                        </label>
                    </div>
                </div>
            </div>
            <details class="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        What to do if the plans need changing
                    </span>
                </summary>
                <div class="govuk-details__text">
                    <p>The RISE grant team will tell you if any changes are needed to the plans.</p>
                    <p>When this happens, give the feedback to the supporting organisation and responsible body.</p>
                    <p>They should then update and resubmit the improvement and expenditure plans.</p>
                    <p>You only need to record the date the first version of the plans were sent.</p>
                </div>
            </details>
            <govuk-checkbox-input label="Confirm plan has been cleared by the RISE grant team" id="confirm-plan-cleared-by-rise" name="confirm-plan-cleared-by-rise" asp-for="@Model.ConfirmPlanClearedByRiseGrantTeam" />

            <button class="govuk-button" type="submit" id="save-and-continue-button" data-module="govuk-button" data-cy="select-common-submitbutton">
                Save and return
            </button>
        </form>
    </div>
</div>
