@page "/task-list/request-improvement-grant-offer-letter/{id:int}"
@model Dfe.ManageSchoolImprovement.Frontend.Pages.TaskList.RequestImprovementGrantOfferLetter.IndexModel
@{
    ViewData["Title"] = "Request improvement grant offer letter";
}

@section BeforeMain
{
    <a asp-page="@Links.TaskList.Index.Page" asp-route-id="@Model.SupportProject.Id" class="govuk-back-link">Back</a>
}

@if (Model.ShowError)
{
   <partial name="_ErrorSummary"/>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l" data-cy="school-name">@Model.SupportProject.SchoolName</span>
        <h1 class="govuk-heading-l" data-cy="page-heading">
            Request improvement grant offer letter
        </h1>
        <p class="govuk-body" data-cy="instruction-to-adviser">Email the grant team at <a class="govuk-link" href="mailto:@Model.EmailAddress">@Model.EmailAddress</a> and ask them to send the improvement grant offer letter to the school's responsible body.</p>
        <form method="post" novalidate>
            <govuk-checkbox-input label="Include the required contact details in the email" label-hint="Make sure you add the contacts the grant team need to this project." id="include-contact-details" name="include-contact-details" asp-for="@Model.IncludeContactDetails" />
            <details class="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        Contacts needed
                    </span>
                </summary>
                <div class="govuk-details__text">
                    <h2 class="govuk-heading-m">Responsible body of school</h2>
                    <p>You must add the contact details for the school's chief accounting officer, or equivalent.</p>
                    <p>For academies this is usually the CEO of the trust. For local authority maintained schools, this is usually the headteacher.</p>
                    <p>You must include their:</p>
                    <ul>
                        <li>name</li>
                        <li>email address</li>
                        <li>postal address</li>
                    </ul>
                    <p>Contact the grant team if you're not sure who the chief accounting officer is.</p>
                    <h2 class="govuk-heading-m">Supporting organisation</h2>
                    <p>You must also include the contact details of the supporting organisation's responsible body.</p>
                    <p>If the supporting organisation is an academy trust, you must include the name and email address of its chief accounting officer. This is usually its CEO.</p>
                    <p>If the supporting organisation is a local authority maintained school, you must include the name and email address of the headteacher.</p>
                </div>
            </details>
            <govuk-checkbox-input label="Attach the school improvement plan Excel template including the expenditure plan" label-hint="The RISE grant team will use this to check the costed activities." id="attach-school-improvement-plan" name="attach-school-improvement-plan" asp-for="@Model.AttachSchoolImprovementPlan" />
            <govuk-checkbox-input label="Copy the regional director in to the email" label-hint="You may need to copy in the regional director's office rather than them personally." id="copy-in-regional-director" name="copy-in-regional-director" asp-for="@Model.CopyInRegionalDirector" />
            <govuk-checkbox-input label="Send email to the RISE grant team" id="send-email-to-grant-team" name="send-email-to-grant-team" asp-for="@Model.SendEmailToGrantTeam" />
            <govuk-date-input heading-label="false" label="Enter date grant team contacted" id="grant-team-contacted-date" name="grant-team-contacted-date" asp-for="@Model.GrantTeamContactedDate" hint="For example, 1 7 2024." />
            <button class="govuk-button" type="submit" id="save-and-continue-button" data-module="govuk-button" data-cy="select-common-submitbutton">
                Save and return
            </button>
        </form>
    </div>
</div>
