@page "/task-list/record-supporting-organisation-appointment/{id:int}"
@using System.Linq.Expressions
@model IndexModel
@{
    ViewData["Title"] = "Has a regional director approved the appointment of the supporting organisation?";

    List<LambdaExpression> summaryItems;

    if (!string.IsNullOrWhiteSpace(Model.DisapprovingSupportingOrganisationAppointmentNotes))
    {
        summaryItems = SummaryListHelper.For<IndexModel>(
            m => m.HasConfirmedSupportingOrganisationAppointment!,
            m => m.DisapprovingSupportingOrganisationAppointmentNotes!
        );
    }
    else
    {
        summaryItems = SummaryListHelper.For<IndexModel>(
            m => m.HasConfirmedSupportingOrganisationAppointment!,
            m => m.AssessmentToolTwoCompleted!,
            m => m.RegionalDirectorAppointmentDate!
            
        );
    }
}

@section BeforeMain
{
    <nav aria-label="back navigation">
        <a asp-page="@Links.TaskList.Index.Page" asp-route-id="@Model.SupportProject?.Id"
           class="govuk-back-link">Back</a>
    </nav>
}

@if (Model.IsReadOnly)
{
    <partial name="Shared/_TaskPausedOrStoppedNotificationSummary"/>
}

@if (Model.ShowError)
{
    <partial name="_ErrorSummary"/>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l" data-cy="school-name">@Model.SupportProject?.SchoolName</span>
        @if (Model.IsReadOnly)
        {
            <h1 class="govuk-heading-l" data-cy="page-heading">
                Has a regional director approved the appointment of the supporting organisation?
            </h1>
            <govuk-summary-list model="Model" items="summaryItems"/>
        }
        else
        {
            <form method="post" novalidate>
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="so-approved-hint">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading" data-cy="page-heading">
                            Has a regional director approved the appointment of the supporting organisation?
                        </h1>
                        </legend>
                        <govuk-radiobuttons-input
                            heading-style="govuk-fieldset__legend--m"
                            hint="The regional director must give their approval to appoint a supporting organisation, which must be recorded within the assessment tool 2."
                            inline="true"
                            name="@nameof(Model.HasConfirmedSupportingOrganisationAppointment)" radio-buttons="@Model.RadioButtons"
                            error-message="@Model.ErrorMessage"
                            asp-for="@Model.HasConfirmedSupportingOrganisationAppointment"/>
                    </fieldset>
                </div>
                        <button class="govuk-button" type="submit" id="save-and-continue-button" data-module="govuk-button"
                                data-cy="select-common-submitbutton">
                            Continue
                        </button>
                

            </form>
        }
    </div>
</div>
