@page "/task-list/choose-preferred-supporting-organisation-type/{id:int}"
@model Dfe.ManageSchoolImprovement.Frontend.Pages.TaskList.ChoosePreferredSupportingOrganisation.ChooseSupportOrganisationTypeModel
@inject IConfiguration Configuration
@{
    ViewData["Title"] = "Choose preferred supporting organisation";
}

@section BeforeMain
{
    <nav aria-label="back navigation">
        <a asp-page="@Links.TaskList.Index.Page" asp-route-id="@Model.SupportProject.Id"
           class="govuk-back-link">Back</a>
    </nav>
}

@if (Model.ShowError)
{
    <partial name="_ErrorSummary"/>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">@Model.SupportProject.SchoolName</span>
        <h1 class="govuk-heading-l">
            Choose preferred supporting organisation
        </h1>
        <p class="govuk-body">The support organisation is not confirmed until the school and regional director both
            agree to the choice.</p>

        <form method="post" novalidate>
            <div class="govuk-form-group">
                <div class="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                        <input name="complete-assessment-tool-hidden" type="hidden" value="false"/>
                        <input class="govuk-checkboxes__input"
                               id="complete-assessment-tool"
                               name="complete-assessment-tool"
                               type="checkbox"
                               value="true"
                               checked="@Model.CompleteAssessmentTool">
                        <label class="govuk-label govuk-checkboxes__label" for="complete-assessment-tool">
                            Complete assessment tool 2: Selecting a supporting organisation
                            <br/>
                            <span id="complete-assessment-tool-hint" class="govuk-hint">
                                You must download a
                                <a class="govuk-link"
                                   href="@Model.AssessmentToolTwoLink"
                                   rel="noreferrer noopener"
                                   target="_blank">copy of the assessment tool (opens in new tab)</a>.
                                When complete
                                <a class="govuk-link"
                                   href="@Model.AssessmentToolTwoSharePointFolderLink"
                                   rel="noreferrer noopener"
                                   target="_blank">upload it to the relevant region's assessment folder in SharePoint (opens in new tab)</a>.
                            </span>
                        </label>
                    </div>
                </div>
            </div>
            <h2 class="govuk-heading-m">
                Choose the type of supporting organisation
            </h2>

            <div class="govuk-form-group">
                <govuk-radiobuttons-input
                    heading-style="govuk-visually-hidden"
                    name="@nameof(Model.SupportOrganisationType)"
                    radio-buttons="@Model.SupportOrganisationTypeOptions"
                    asp-for="@Model.SupportOrganisationType"
                    data-cy="support-organisation-type-radio-buttons"/>
            </div>

            <button class="govuk-button" id="continue-button" data-module="govuk-button"
                    data-cy="select-common-submitbutton" type="submit">
                Continue
            </button>
        </form>
    </div>
</div>
