@page "/task-list/confirm-supporting-organisation-details/{id:int}"
@model Dfe.ManageSchoolImprovement.Frontend.Pages.TaskList.ChoosePreferredSupportingOrganisation.ConfirmSupportingOrganisationDetailsModel
@using Dfe.Academisation.ExtensionMethods
@using Dfe.ManageSchoolImprovement.Domain.Entities.SupportProject
@inject IConfiguration Configuration
@{
    ViewData["Title"] = "Confirm supporting organisation details";
}

@section BeforeMain
{
    <nav aria-label="back navigation">
        <a asp-page="@Model.PreviousPage" asp-route-id="@Model.SupportProject.Id"
           asp-route-previousSupportOrganisationType="@Model.SupportProject.SupportOrganisationType"
           class="govuk-back-link">Back</a>
    </nav>
}

@if (Model.ShowError)
{
    <partial name="_ErrorSummary"/>
}

@{
    var organisationType = Model.SupportProject?.SupportOrganisationType;
    var organisationName = Model.SupportProject?.SupportOrganisationName ?? "";
    var organisationIdNumber = Model.SupportProject?.SupportOrganisationIdNumber ?? "";
    var dateConfirmed = Model.SupportProject?.DateSupportOrganisationChosen;

    string organisationTypeLabel = organisationType switch
    {
        "School" => "URN",
        "Trust" => "UKPRN",
        "Local authority" => "LA name code",
        "Local authority traded service" => "Companies House number",
        _ => "ID"
    };
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post" novalidate>
            <span class="govuk-caption-l">@Model.SupportProject.SchoolName</span>
            <h1 class="govuk-heading-l">
                Confirm supporting organisation details
            </h1>

            <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">Supporting organisation</h2>
                    <ul class="govuk-summary-card__actions">
                        <li class="govuk-summary-card__action">
                            <a class="govuk-link"
                               asp-page="@Links.TaskList.ChoosePreferredSupportingOrganisationType.Page"
                               asp-route-id="@Model.SupportProject.Id">
                                Change<span class="govuk-visually-hidden"> supporting organisation details</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="govuk-summary-card__content">
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                @organisationType
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @organisationName
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                @organisationTypeLabel
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @organisationIdNumber
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Address
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @Html.Raw(Model.OrganisationAddress?.Replace(",", "<br>") ?? "Not available")
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Date confirmed
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @(dateConfirmed?.ToDateString() ?? "Not available")
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Source
                            </dt>
                            <dd class="govuk-summary-list__value">
                                Get information about schools
                            </dd>
                        </div>
                    </dl>
                </div>
            </div>

            <h2 class="govuk-heading-m">Contact details</h2>
            <p class="margin-top-minus-10">You can add an alternative contact later on if these contact details are
                incorrect.</p>
            <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">Accounting officer for supporting organisation</h2>
                </div>
                <div class="govuk-summary-card__content">
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Name
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @(Model.AccountingOfficer?.Name ?? "Not available")
                            </dd>
                            <input type="hidden" asp-for="@Model.AccountingOfficer.Name"/>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Email
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @(Model.AccountingOfficer?.Email ?? "Not available")
                            </dd>
                            <input type="hidden" asp-for="@Model.AccountingOfficer.Email"/>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Phone
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @(Model.AccountingOfficer?.Phone ?? "Not available")
                            </dd>
                            <input type="hidden" asp-for="@Model.AccountingOfficer.Phone"/>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Postal address
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @Html.Raw(Model.OrganisationAddress?.Replace(",", "<br>") ?? "Not available")
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Source
                            </dt>
                            <dd class="govuk-summary-list__value">
                                Get information about schools
                            </dd>
                        </div>
                    </dl>
                </div>
            </div>

            <govuk-date-input heading-label="false"
                              label="Enter date supporting organisation confirmed"
                              id="date-support-organisation-confirmed"
                              name="date-support-organisation-confirmed"
                              asp-for="@Model.DateSupportOrganisationConfirmed"
                              error-message="@Model.DateConfirmedErrorMessage"
                              hint="For example, 1 7 2024."/>
            <button class="govuk-button" id="save-and-return-button" data-module="govuk-button"
                    data-cy="select-common-submitbutton" type="submit">
                Save and return
            </button>
        </form>
    </div>
</div>
