@page "/task-list/enter-supporting-organisation-federation-or-education-partnership-details/{id:int}"
@model Dfe.ManageSchoolImprovement.Frontend.Pages.TaskList.ChoosePreferredSupportingOrganisation.EnterSupportingOrganisationFederationEducationPartnershipDetailsModel

@{
    ViewData["Title"] = "Enter supporting organisation details";
}

@section BeforeMain
{
    <nav aria-label="back navigation">
        <a asp-page="@Links.TaskList.ChoosePreferredSupportingOrganisationType.Page" asp-route-id="@Model.SupportProject.Id"
           class="govuk-back-link">Back</a>
    </nav>
}

@if (Model.ShowError)
{
    <partial name="_ErrorSummary"/>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <span class="govuk-caption-l">@Model.SupportProject.SchoolName</span>
        <h1 class="govuk-heading-l">
            Enter supporting organisation details
        </h1>

        <form method="post" novalidate>
            <govuk-text-input heading-label="true" 
                              label="Organisation name" 
                              id="organisation-name"
                              name="organisation-name" 
                              asp-for="@Model.OrganisationName" 
                              hint="Enter the name of the federation or education partnership that will be the supporting organisation"
                              error-message="@Model.OrganisationNameErrorMessage"
                              width="30"/>

            <govuk-text-input heading-label="true" 
                              label="Identifying number" 
                              id="identifying-number"
                              name="identifying-number"
                              asp-for="@Model.IdentifyingNumber" 
                              hint="Enter a unique identifying number for this organisation. This could be a Companies House number, a URN or a UKPRN."
                              error-message="@Model.IdentifyingNumberErrorMessage"
                              width="30"/>
                              
            <button class="govuk-button" id="save-and-return-button" data-module="govuk-button"
                    data-cy="select-common-submitbutton" type="submit">
                Continue
            </button>
        </form>
    </div>
</div>
