@page "/enter-project-status-details-change/{id:int}"
@model Dfe.ManageSchoolImprovement.Frontend.Pages.ProjectStatus.EnterProjectStatusChangeDetailsModel




@{
    ViewData["Title"] = "Enter details about the project status change";
}

@section BeforeMain
{
    <nav aria-label="back navigation">
        <a asp-page="@Model.ReturnPage" class="govuk-back-link"
           asp-route-id="@Model.SupportProject?.Id">@Links.ProjectStatusTab.ProjectStatusPausedDate.BackText</a>
    </nav>
}

<partial name="_ErrorSummary"/>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Change status and eligibility</span>
        <form method="post" novalidate>
            <h1 class="govuk-label-wrapper" data-test="project-status-paused-details">
                <label class="govuk-label govuk-label--l">
                    Enter details about the project status change
                </label>
            </h1>
            <div class="govuk-form-group @(Model.ShowError ? "govuk-form-group--error" : string.Empty)">
                <div class="govuk-hint">Provide details about the project status change and any next steps required.
                </div>
                @if (Model.ShowError)
                {
                    <p id="more-detail-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> Enter details
                    </p>
                }
                <textarea class="govuk-textarea @(Model.ShowError ? "govuk-textarea--error" : string.Empty)"
                          id="project-status-changed-details" name="project-status-changed-details" rows="5"
                          asp-for="@Model.ProjectStatusChangedDetails" data-cy="paused-details-textarea"></textarea>
            
                <govuk-date-input heading-label="false" label="Enter date progress status changed"
                                  id="project-status-changed-date" name="project-status-changed-date"
                                  asp-for="@Model.DateProjectStatusChanged" hint="For example, 1 5 2026."/>
                <input type="hidden" asp-for="SupportProjectStatus" />
            
            </div>
            <button class="govuk-button" type="submit" id="continue-button" data-module="govuk-button"
                    data-cy="select-common-submitbutton">
                Continue
            </button>
        </form>
    </div>
</div>