@page "/project-status/{id:int}"

@using Dfe.Academisation.ExtensionMethods
@using Dfe.ManageSchoolImprovement.Domain.ValueObjects
@model Dfe.ManageSchoolImprovement.Frontend.Pages.ProjectStatus.IndexModel
@{
    ViewData["Title"] = "Project status";
    TempData["AssignmentReferrer"] = @Links.ProjectStatusTab.Index.Page;
    bool statusUpdated = (bool)(TempData["projectStatusUpdated"] ?? false);
}

@section BeforeMain
{
    <nav aria-label="back navigation">
        <a asp-page="@Model.ReturnPage" class="govuk-back-link"
           asp-route-id="@Model.SupportProject?.Id">@Links.SchoolList.Index.BackText</a>
    </nav>
}

<partial name="_ErrorSummary"/>

@if (statusUpdated)
{
    <div class="govuk-notification-banner govuk-notification-banner--success" role="alert"
         aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner"
         cy-data="task-updated-success-notification">
        <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                Success
            </h2>
        </div>
        <div class="govuk-notification-banner__content">
            <h3 class="govuk-notification-banner__heading" id="contact-added">
                Status updated successfully
            </h3>
        </div>
    </div>
}

<partial name="_ProjectHeader" model="Model.SupportProject"/>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l govuk-!-margin-bottom-2" data-test="project-status">Project status</h2>
        <a asp-page="@Links.ProjectStatusTab.ChangeProjectStatus.Page" asp-route-id="@Model.SupportProject.Id"
           role="button" data-cy="change-project-status-button"
           draggable="false" class="govuk-button" data-module="govuk-button">
            Change project status
        </a>
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Status</dt>
                <dd class="govuk-summary-list__value">
                    <partial name="Shared/_ProjectStatus" model="@Model.SupportProjectStatus"/>
                </dd>
            </div>
            @if(Model.DateOfDecision != null)
            {
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Date of decision</dt>
                    <dd class="govuk-summary-list__value">
                        @Model.DateOfDecision.ToDateString()
                    </dd>
                </div>
            }
            @if(!string.IsNullOrEmpty(Model.AdditionalDetails))
            {
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Details</dt>
                    <dd class="govuk-summary-list__value">
                        @Model.AdditionalDetails
                    </dd>
                </div>
            }
        </dl>
    </div>
</div>
