@page "/project-status-answers/{id:int}"

@using Dfe.Academisation.ExtensionMethods
@using Dfe.ManageSchoolImprovement.Domain.ValueObjects
@using Dfe.ManageSchoolImprovement.Utils
@model Dfe.ManageSchoolImprovement.Frontend.Pages.ProjectStatus.ProjectStatusAnswersModel

@{
    ViewData["Title"] = "Check your answers";
}

@section BeforeMain
{
    <nav aria-label="back navigation">
        <a asp-page="@Model.ReturnPage" class="govuk-back-link" asp-route-id="@Model.SupportProject?.Id">Back</a>
    </nav>
}

<partial name="_ErrorSummary" />

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">@Model.SupportProject?.SchoolName</span>
        <h2 class="govuk-heading-l" data-test="project-status-answers">Check your answers</h2>

        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Project status</dt>
                <dd class="govuk-summary-list__value">@Model.ProjectStatus.GetDisplayName()</dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link govuk-!-padding-left-50" asp-page="@Links.ProjectStatusTab.ChangeProjectStatus.Page"
                       asp-route-id="@Model.SupportProject?.Id" asp-route-changeStatusLink="true">Change<span class="govuk-visually-hidden"> project status</span></a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Date of decision</dt>
                <dd class="govuk-summary-list__value">@Model.ChangedDate.ToDateString()</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Details</dt>
                <dd class="govuk-summary-list__value">@Model.ChangedDetails</dd>
            </div>
        </dl>
        
        <form method="post" novalidate="">
            <input type="hidden" asp-for="@Model.ProjectStatus"/>
            <input type="hidden" name="inProgressDate" value="@(Model.ChangedDate?.ToString("yyyy-MM-dd"))"/>
            <input type="hidden" asp-for="@Model.ChangedBy"/>
            <input type="hidden" asp-for="@Model.ChangedDetails"/>
            <button class="govuk-button" type="submit" id="continue-button" data-module="govuk-button"
                    data-cy="select-common-submitbutton">
                Save and continue
            </button>
        </form>
    </div>
</div>