@page "/engagement-concern/{id:int}/{readableEngagementConcernId:int}/change-use-of-information-powers"
@model Dfe.ManageSchoolImprovement.Frontend.Pages.EngagementConcern.ChangeUseOfInformationPowersModel

@{
    ViewData["Title"] = "Change use of information powers";
}

@section BeforeMain
{
    <a asp-page="@Links.EngagementConcern.Index.Page" asp-route-id="@Model.SupportProject.Id" class="govuk-back-link">Back</a>
}

@if (Model.ShowError)
{
    <partial name="_ErrorSummary" />
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">@Model.SupportProject.SchoolName</span>
        <form method="post">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            Change use of information powers
                        </h1>
                    </legend>

                    <p class="govuk-body">Information powers can be used to compel a school to share information the department needs.</p>

                    <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                                How to use information powers
                            </span>
                        </summary>
                        <div class="govuk-details__text">
                            <p class="govuk-body">To use information powers, you must email the school and inform them that the department is going to use the powers.</p>
                            <p class="govuk-body">For example, use a phrase like "Under information powers, then..."</p>
                        </div>
                    </details>

                    <div class="govuk-form-group @(Model.ShowDetailsError ? "govuk-form-group--error" : "")">
                        <h1 class="govuk-label-wrapper">
                            <label class="govuk-label govuk-label--m" for="information-powers-details">
                                Enter details
                            </label>
                        </h1>
                        <div class="govuk-hint">Describe why and how the powers have been used.</div>
                        @if (Model.ShowDetailsError)
                        {
                            <p id="more-detail-error" class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span> Enter details
                            </p>
                        }
                        <textarea class="govuk-textarea"
                                              id="information-powers-details"
                                              name="information-powers-details"
                                              rows="5"
                                              aria-describedby="information-powers-details-hint">@Model.InformationPowersDetails</textarea>
                    </div>

                    <div class="govuk-form-group">
                        <h1 class="govuk-label-wrapper">
                            <label class="govuk-label govuk-label--m" for="powers-used-date">
                                Enter date the school was informed of the use of information powers
                            </label>
                        </h1>
                        <govuk-date-input heading-label="true"
                                          hint="For example, 1 7 2024."
                                          id="powers-used-date"
                                          name="powers-used-date"
                                          asp-for="@Model.PowersUsedDate"/>
                    </div>

                    <div class="govuk-form-group">
                        <h1 class="govuk-label-wrapper">
                            <label class="govuk-label govuk-label--m" for="remove-information-powers">
                                Remove information powers
                            </label>
                        </h1>
                        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                                <input name="remove-information-powers-hidden" type="hidden" value="false"/>
                                <input class="govuk-checkboxes__input"
                                       id="remove-information-powers"
                                       name="remove-information-powers"
                                       value="true"
                                       type="checkbox"
                                       @(Model.RemoveInformationPowers is true ? "checked" : "")
                                       data-aria-controls="conditional-information-powers"/>
                                <label class="govuk-label govuk-checkboxes__label" for="remove-information-powers">
                                    Information powers removed
                                </label>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="govuk-button-group govuk-body">
                <button type="submit" class="govuk-button" data-module="govuk-button" data-cy="save-information-powers-btn">
                    Save and return
                </button>
                <a asp-page="@Links.EngagementConcern.Index.Page" asp-route-id="@Model.SupportProject.Id" class="govuk-link">Cancel</a>
            </div>
        </form>
    </div>
</div>

