@page "/engagement-concern/{id:int}"
@using Dfe.Academisation.ExtensionMethods
@using Microsoft.AspNetCore.Hosting

@inject IWebHostEnvironment Environment

@model IndexModel

@{
    ViewData["Title"] = "Engagement concern";
}

@section BeforeMain
{
    <a asp-page="@Model.ReturnPage" class="govuk-back-link" data-cy="back-link">@Links.SchoolList.Index.BackText</a>
    @if (Model.EngagementConcernRecorded is true || Model.EngagementConcernUpdated is true || Model.EngagementConcernRemoved is true
                     || Model.InformationPowersRecorded is true || Model.InformationPowersRemoved is true || Model.InformationPowersUpdated is true
                     || Model.InterimExecutiveBoardRecorded is true || Model.InterimExecutiveBoardRemoved is true || Model.InterimExecutiveBoardUpdated is true || Model.InterimExecutiveBoardDateUpdated is true)
    {
        <div class="govuk-notification-banner govuk-notification-banner--success" role="alert"
             aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner"
             cy-data="task-updated-success-notification">
            <div class="govuk-notification-banner__header">
                <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                    Success
                </h2>
            </div>
            <div class="govuk-notification-banner__content">
                <h3 class="govuk-notification-banner__heading" id="case-study-message">
                    @(Model.EngagementConcernRecorded is true ? "Engagement concern recorded" : "")
                    @(Model.EngagementConcernUpdated is true ? "Engagement concern updated" : "")
                    @(Model.EngagementConcernRemoved is true ? "Engagement concern removed" : "")
                    @(Model.InformationPowersRecorded is true ? "Use of information powers recorded" : "")
                    @(Model.InformationPowersUpdated is true ? "Information powers updated" : "")
                    @(Model.InformationPowersRemoved is true ? "Information powers removed" : "")
                    @(Model.InterimExecutiveBoardRecorded is true ? "Use of interim executive board recorded" : "")
                    @(Model.InterimExecutiveBoardDateUpdated is true || Model.InterimExecutiveBoardUpdated is true ? "Interim executive board updated" : "")
                    @(Model.InterimExecutiveBoardRemoved is true ? "Interim executive board removed" : "")
                </h3>
            </div>
        </div>
    }
}

<partial name="_ProjectHeader" model="Model.SupportProject" />
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @if (Model.SupportProject.EngagementConcernRecorded is true)
        {
            <form method="post">
                <div class="govuk-summary-card">
                    <div class="govuk-summary-card__title-wrapper">
                        <h2 class="govuk-summary-card__title">
                            Engagement concern
                        </h2>
                        <ul class="govuk-summary-list__action-list">
                            <li class="govuk-summary-list__actions-list-item">
                                <a class="govuk-link"
                                   asp-page="@Links.EngagementConcern.ChangeEngagementConcern.Page"
                                   asp-route-id="@Model.SupportProject.Id"
                                   data-cy="engagement-concern-change-link">
                                    Change<span class="govuk-visually-hidden">Change</span>
                                </a>
                            </li>
                            @if (!Model.EngagementConcernEscalated)
                            {
                                <li class="govuk-summary-list__actions-list-item">
                                    <a class="govuk-link"
                                       asp-page="@Links.EngagementConcern.EscalateEngagementConcern.Page"
                                       asp-route-id="@Model.SupportProject.Id"
                                       data-cy="engagement-concern-escalate-link">
                                        Escalate<span class="govuk-visually-hidden">Escalate</span>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="govuk-summary-card__content">
                        <dl class="govuk-summary-list">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Date raised
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @Model.DateRaised.ToDateString()
                                </dd>

                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Details
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @Model.EngagementConcernDetails
                                </dd>

                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Escalated
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @(Model.EngagementConcernEscalated ? "Yes" : "No")
                                </dd>
                            </div>

                            @if (Model.EngagementConcernEscalated)
                            {
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Reason
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        @Model.EngagementConcernEscalationReason
                                    </dd>
                                    <dd class="govuk-summary-list__actions">
                                        <a class="govuk-link govuk-!-padding-left-50 change-link"
                                           asp-page="@Links.EngagementConcern.ReasonForEscalation.Page"
                                           asp-route-id="@Model.SupportProject.Id"
                                           asp-route-changelinkclicked="true"
                                           asp-route-returnpage="@Links.EngagementConcern.Index.Page"
                                           data-cy="escalation-reason-change-link">
                                            Change<span class="govuk-visually-hidden">Change</span>
                                        </a>
                                    </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Date escalated
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        @Model.DateEscalated.ToDateString()
                                    </dd>
                                    <dd class="govuk-summary-list__actions">
                                        <a class="govuk-link govuk-!-padding-left-50 change-link"
                                           asp-page="@Links.EngagementConcern.DateOfDecision.Page"
                                           asp-route-id="@Model.SupportProject.Id"
                                           asp-route-changelinkclicked="true"
                                           asp-route-returnpage="@Links.EngagementConcern.Index.Page"
                                           data-cy="escalation-date-change-link">
                                            Change<span class="govuk-visually-hidden">Change</span>
                                        </a>
                                    </dd>
                                </div>
                            }
                            @if (Model.SupportProject.EngagementConcernResolved is false)
                            {
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Resolved
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        No
                                    </dd>
                                </div>
                            }
                            @if (Model.SupportProject.EngagementConcernResolved is true)
                            {
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Resolved
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        @Model.SupportProject.EngagementConcernResolvedDate.ToDateString()
                                    </dd>
                                    <dd class="govuk-summary-list__actions">
                                    </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Details of resolution
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        @Model.SupportProject.EngagementConcernResolvedDetails
                                    </dd>
                                    <dd class="govuk-summary-list__actions">
                                    </dd>
                                </div>
                            }
                        </dl>
                    </div>
                </div>
            </form>

            @if (Model.SupportProject.InterimExecutiveBoardCreated is true)
            {
                <div class="govuk-summary-card">
                    <div class="govuk-summary-card__title-wrapper">
                        <h2 class="govuk-summary-card__title">
                            Interim executive board
                        </h2>
                        <ul class="govuk-summary-list__action-list">
                            <li class="govuk-summary-list__actions-list-item">
                                <a asp-page="@Links.EngagementConcern.ChangeUseOfInterimExecutiveBoard.Page"
                                   asp-route-id="@Model.SupportProject.Id"
                                   class="govuk-link"
                                   data-cy="ieb-created-change-link">
                                    Change
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="govuk-summary-card__content">
                        <dl class="govuk-summary-list">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Date used
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @Model.SupportProject.InterimExecutiveBoardCreatedDate.ToDateString()
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Details
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @Model.SupportProject.InterimExecutiveBoardCreatedDetails
                                </dd>
                            </div>
                        </dl>
                    </div>
                </div>
            }

            @if (Model.SupportProject.InformationPowersInUse is true)
            {
                <div class="govuk-summary-card">
                    <div class="govuk-summary-card__title-wrapper">
                        <h2 class="govuk-summary-card__title">
                            Information powers
                        </h2>
                        <ul class="govuk-summary-list__action-list">
                            <li class="govuk-summary-list__actions-list-item">
                                <a asp-page="@Links.EngagementConcern.ChangeUseOfInformationPowers.Page"
                                   asp-route-id="@Model.SupportProject.Id"
                                   class="govuk-link"
                                   data-cy="information-powers-change-link">
                                    Change
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="govuk-summary-card__content">
                        <dl class="govuk-summary-list">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Date used
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @Model.SupportProject.PowersUsedDate.ToDateString()
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Details
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @Model.SupportProject.InformationPowersDetails
                                </dd>
                            </div>
                        </dl>
                    </div>
                </div>
            }
            else
            {
                <a asp-page="@Links.EngagementConcern.RecordUseOfInformationPowers.Page"
                   asp-route-id="@Model.SupportProject.Id" role="button" draggable="false"
                   class="govuk-button govuk-button--secondary" data-module="govuk-button"
                   data-cy="record-information-powers-btn">
                    Record use of information powers
                </a>
            }

            @if (Model.SupportProject.InterimExecutiveBoardCreated != true)
                @if (string.IsNullOrEmpty(Model.SupportProject.TrustName))
                {
                    <a asp-page="@Links.EngagementConcern.RecordUseOfInterimExecutiveBoard.Page"
                       asp-route-id="@Model.SupportProject.Id" role="button" draggable="false"
                       class="govuk-button govuk-button--secondary" data-module="govuk-button"
                       data-cy="record-ieb-btn">
                        Record use of interim executive board
                    </a>
                }
        }
        else
        {
            <p class="govuk-body">
                Enter details about situations where a school or responsible body does not respond to you.
            </p>
            <a asp-page="@Links.EngagementConcern.RecordEngagementConcern.Page" asp-route-id="@Model.SupportProject.Id"
               role="button" draggable="false" class="govuk-button govuk-button" data-module="govuk-button"
               data-cy="record-engagement-concern-button">
                Record engagement concern
            </a>
        }
    </div>
</div>