@page "/engagement-concern/{id:int}"
@using Dfe.Academisation.ExtensionMethods
@model IndexModel

@{
    ViewData["Title"] = "Engagement concern";
}

@section BeforeMain
{
    <a asp-page="@Model.ReturnPage" class="govuk-back-link">@Links.SchoolList.Index.BackText</a>
    @if (Model.EngagementConcernRecorded is true || Model.EngagementConcernUpdated is true || Model.EngagementConcernRemoved is true
|| Model.InformationPowersRecorded is true || Model.InformationPowersRemoved is true)
    {
        <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner" cy-data="task-updated-success-notification">
            <div class="govuk-notification-banner__header">
                <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                    Success
                </h2>
            </div>
            <div class="govuk-notification-banner__content">
                <h3 class="govuk-notification-banner__heading" id="case-study-message">
                    @(Model.EngagementConcernRecorded is true ? "Engagement concern recorded" : "")
                    @(Model.EngagementConcernUpdated is true ? "Engagement concern updated" : "")
                    @(Model.EngagementConcernRemoved is true ? "Engagement concern removed" : "")
                    @(Model.InformationPowersRecorded is true ? "Use of information powers recorded" : "")
                    @(Model.InformationPowersRemoved is true ? "Use of information powers removed" : "")
                </h3>
            </div>
        </div>
    }
}
<partial name="_ProjectHeader" model="Model.SupportProject" />
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">Engagement concern</h2>
        @if (Model.SupportProject.EngagementConcernRecorded is true)
        {
            <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">
                        Engagement concern
                    </h2>
                </div>
                <div class="govuk-summary-card__content">
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Date raised
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @Model.DateRaised.ToDateString()
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Escalated?
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @(Model.EngagementConcernEscalated ? "Yes" : "No")
                            </dd>
                        </div>

                        @if (Model.EngagementConcernEscalated)
                        {
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Reason
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @Model.EngagementConcernEscalationReason
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link govuk-!-padding-left-50" asp-page="@Links.EngagementConcern.ReasonForEscalation.Page" asp-route-id="@Model.SupportProject.Id" asp-route-returnpage="@Links.EngagementConcern.Index.Page">Change<span class="govuk-visually-hidden">Change</span></a>
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Date escalated
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @Model.DateEscalated.ToDateString()
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link govuk-!-padding-left-50" asp-page="@Links.EngagementConcern.DateOfDecision.Page" asp-route-id="@Model.SupportProject.Id" asp-route-returnpage="@Links.EngagementConcern.Index.Page">Change<span class="govuk-visually-hidden">Change</span></a>
                                </dd>
                            </div>
                        }
                    </dl>
                </div>
            </div>

            @if (Model.SupportProject.InformationPowersInUse is true)
            {
                <div class="govuk-summary-card">
                    <div class="govuk-summary-card__title-wrapper">
                        <h2 class="govuk-summary-card__title">
                            Information powers
                        </h2>
                    </div>
                    <div class="govuk-summary-card__content">
                        <dl class="govuk-summary-list">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Date used
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @Model.SupportProject.PowersUsedDate.ToDateString()
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Details
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @Model.SupportProject.InformationPowersDetails
                                </dd>
                            </div>
                        </dl>
                    </div>
                </div>
            }
            <a asp-page="@Links.EngagementConcern.RecordEngagementConcern.Page" asp-route-id="@Model.SupportProject.Id" role="button" draggable="false" class="govuk-button" data-module="govuk-button" data-cy="information-powers-btn">
                Update concern
            </a>
            <a asp-page="@Links.EngagementConcern.RecordUseOfInformationPowers.Page" asp-route-id="@Model.SupportProject.Id" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button" data-cy="record-information-powers-btn">
                @(Model.SupportProject.InformationPowersInUse is true ? "Update use of information powers" : "Record use of information powers")
            </a>
        }
        else
        {
            <p class="govuk-body">
                Enter details about situations where a school or responsible body does not respond to you.
            </p>
            <a asp-page="@Links.EngagementConcern.RecordEngagementConcern.Page" asp-route-id="@Model.SupportProject.Id" role="button" draggable="false" class="govuk-button govuk-button" data-module="govuk-button">
                Record engagement concern
            </a>
        }
    </div>
</div>
