@page "/engagement-concern/record-engagement-concern/{id:int}"

@model Dfe.ManageSchoolImprovement.Frontend.Pages.EngagementConcern.AddEngagementConcernModel

@{
    ViewData["Title"] = "Record engagement concern";
}

@section BeforeMain
{
    <a asp-page="@Links.EngagementConcern.Index.Page" asp-route-id="@Model.SupportProject.Id" class="govuk-back-link">Back</a>
}

@if (Model.ShowError)
{
    <partial name="_ErrorSummary" />
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">@Model.SupportProject.SchoolName</span>
        <form method="post">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            Record engagement concern
                        </h1>
                    </legend>
                    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                            <input name="record-engagement-concern-hidden" type="hidden" value="false" />
                            <input class="govuk-checkboxes__input"
                                   id="record-engagement-concern"
                                   name="record-engagement-concern"
                                   value="true"
                                   type="checkbox"
                            @(Model.RecordEngagementConcern == true ? "checked" : "")
                                   data-aria-controls="conditional-record-engagement-concern"/>
                            <label class="govuk-label govuk-checkboxes__label" for="record-engagement-concern">
                                Record engagement concern with this school
                            </label>
                        </div>
                        <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-record-engagement-concern">
                            <div class="govuk-form-group @(Model.ShowRecordEngagementConcernError ? "govuk-form-group--error" : "")">
                                <label class="govuk-label" for="engagement-concern-details">
                                    Enter details about your engagement concern
                                </label>
                                @if (Model.ShowRecordEngagementConcernError)
                                {
                                    <p id="more-detail-error" class="govuk-error-message">
                                        <span class="govuk-visually-hidden">Error:</span> You must enter details
                                    </p>
                                }
                                <textarea class="govuk-textarea @(Model.ShowRecordEngagementConcernError ? "govuk-textarea--error" : "")" id="engagement-concern-details" name="engagement-concern-details" rows="5">@Model.EngagementConcernDetails</textarea>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>


            <div class="govuk-button-group govuk-body">
                <button type="submit" draggable="false" class="govuk-button govuk-button" data-module="govuk-button">
                    Save and return
                </button>
                <a asp-page="@Links.EngagementConcern.Index.Page" asp-route-id="@Model.SupportProject.Id" class="govuk-link">Cancel</a>
            </div>
        </form>
    </div>
</div>