@page "/improvement-plan/{id:int}"
@using Dfe.Academisation.ExtensionMethods
@model ImprovementPlanTabModel

@{
    ViewData["Title"] = "Improvement plan";
}

@section BeforeMain {
    <a asp-page="@Model.ReturnPage" class="govuk-back-link">@Links.SchoolList.Index.BackText</a>
}
<partial name="_ProjectHeader" model="Model.SupportProject" />
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">Improvement plan</h2>
        @if (Model.NoObjectivesRecorded || (!Model.ObjectivesComplete && Model.CurrentReview is null)  || !Model.IsAdviserAllocated)
        {
            <p>As you add the improvement plan objectives they will be listed on this page.</p>
            <p>You will only be able to record a progress review when:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>an adviser has been allocated</li>
                <li>all objectives have been added and marked as complete</li>
            </ul>
        }
        else
        {
            <p>Record progress on the improvement plan objectives after each review.</p>
            <a asp-page="@Links.ProgressReviews.Index.Page"
               asp-route-id="@Model.SupportProject.Id"
               role="button"
               draggable="false"
               class="govuk-button"
               data-module="govuk-button">
                Record or view progress
            </a>
        }
        @if (!Model.NoObjectivesRecorded && Model.NoProgressReviewsRecorded)
        {
            <partial name="_ObjectiveSection" model='("Quality of education", Model.QualityOfEducationObjectives, Model.SupportProject.Id, Links.ImprovementPlan.ImprovementPlanTab.Page)' />

            <partial name="_ObjectiveSection" model='("Leadership and management", Model.LeadershipAndManagementObjectives, Model.SupportProject.Id, Links.ImprovementPlan.ImprovementPlanTab.Page)' />

            <partial name="_ObjectiveSection" model='("Behaviour and attitudes", Model.BehaviourAndAttitudesObjectives, Model.SupportProject.Id, Links.ImprovementPlan.ImprovementPlanTab.Page)' />

            <partial name="_ObjectiveSection" model='("Attendance", Model.AttendanceObjectives, Model.SupportProject.Id, Links.ImprovementPlan.ImprovementPlanTab.Page)' />

            <partial name="_ObjectiveSection" model='("Personal development", Model.PersonalDevelopmentObjectives, Model.SupportProject.Id, Links.ImprovementPlan.ImprovementPlanTab.Page)' />
        }
        else if (!Model.NoProgressReviewsRecorded)
        {
            <article class='moj-ticket-panel govuk-!-margin-bottom-6' aria-label='@Model.CurrentReview.Title'>
            <section class='moj-ticket-panel__content moj-ticket-panel__content--blue'>
                <div class='govuk-grid-row'>
                    <div class='govuk-grid-column-one-half'>
                        <h2 class='govuk-heading-s govuk-!-margin-bottom-5'>
                                @Model.CurrentReview.Title
                        </h2>
                    </div>
                    <div class='govuk-grid-column-one-half govuk-!-text-align-right'>
                            <strong class='govuk-tag @Model.CurrentReview.ProgressStatusClass'>@Model.CurrentReview.ProgressStatus</strong>
                    </div>
                </div>
                <div class='govuk-grid-row'>
                    <div class='govuk-grid-column-two-thirds'>
                        <p class='govuk-body govuk-!-margin-bottom-0'>
                                <strong>Reviewed on @Model.CurrentReview.ReviewDate.ToDateString()</strong><br />
                                <strong>by</strong> @Model.CurrentReview.Reviewer
                        </p>
                    </div>
                </div>
            </section>
        </article>
            <h2 class="govuk-heading-m govuk-!-margin-top-7 govuk-!-margin-bottom-6">Overall progress</h2>

            <div class="govuk-summary-card govuk-!-margin-bottom-6">
                <div class="govuk-summary-card__title-wrapper">
                    <h3 class="govuk-summary-card__title">Overall progress</h3>
                    <ul class="govuk-summary-card__actions">
                        <li class="govuk-summary-card__action">
                            <a asp-page="@Links.ProgressReviews.OverallProgress.Page"
                               asp-route-id="@Model.SupportProject?.Id"
                               asp-route-reviewid="@Model.CurrentReview.ReadableId"
                               asp-route-returnpage="@Links.ImprovementPlan.ImprovementPlanTab.Page"
                               class="govuk-link">
                                Change<span class="govuk-visually-hidden">Overall progress</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="govuk-summary-card__content">
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Progress
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @Model.CurrentReview.HowIsTheSchoolProgressingOverall
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Details
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @Model.CurrentReview.OverallProgressDetails
                            </dd>
                        </div>
                    </dl>
                </div>
            </div>
        @foreach (var group in Model.ObjectiveProgressGroups)
        {
            <h2 class="govuk-heading-m govuk-!-margin-top-7 govuk-!-margin-bottom-6">@group.AreaOfImprovement</h2>
            @foreach (var objective in group.ObjectiveProgresses)
            {
                <div class="govuk-summary-card govuk-!-margin-bottom-6">
                    <div class="govuk-summary-card__title-wrapper">
                        <h3 class="govuk-summary-card__title">@objective.Title</h3>
                        <ul class="govuk-summary-card__actions">
                            <li class="govuk-summary-card__action">
                                @if (objective.ReadableId != 0)
                                {
                                    <a asp-page="@Links.ProgressReviews.ChangeProgress.Page"
                                       asp-route-id="@Model.SupportProject?.Id"
                                       asp-route-objectiveProgressId="@objective.ReadableId"
                                       asp-route-returnpage="@Links.ImprovementPlan.ImprovementPlanTab.Page"
                                       class="govuk-link">
                                        Change<span class="govuk-visually-hidden"> @objective.Title</span>
                                    </a>
                                }
                                else
                                {
                                    <a asp-page="@Links.ProgressReviews.RecordProgress.Page"
                                       asp-route-id="@Model.SupportProject?.Id"
                                           asp-route-reviewId="@Model.CurrentReview.ReadableId"
                                       asp-route-objectiveId="@objective.ObjectiveReadableId"
                                       asp-route-returnpage="@Links.ImprovementPlan.ImprovementPlanTab.Page"
                                       class="govuk-link">
                                        Record<span class="govuk-visually-hidden"> @objective.Title</span>
                                    </a>
                                }


                            </li>
                        </ul>
                    </div>
                    <div class="govuk-summary-card__content">
                        <dl class="govuk-summary-list">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Progress
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @objective.Progress
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Details
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @objective.Details
                                </dd>
                            </div>
                        </dl>
                    </div>
                </div>
            }
        }
        }

    </div>
</div>