@page "/watchlist"

@using GovUK.Dfe.CoreLibs.Utilities.Extensions
@model Dfe.ManageSchoolImprovement.Frontend.Pages.Watchlist.IndexModel

@{
    ViewData["Title"] = "Your school watchlist";
}

<div class="govuk-grid-row">
    <h1 class="govuk-heading-xl">Your school watchlist</h1>
    <p class="govuk-body">
        You can use your watchlist to save schools that are important to you and find them quickly.
    </p>
</div>
<div class=govuk-grid-row>
    @if (Model.Watchlist.Count > 0)
    {
            <table class="govuk-table" data-module="moj-sortable-table">
    <table class="govuk-table">
        <caption class="govuk-table__caption govuk-visually-hidden">
            My watched schools
        </caption>
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter" aria-sort="none">
                School
            </th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter" aria-sort="none">
                Date added to MSI
            </th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter" aria-sort="none">
                Assigned to
            </th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter" aria-sort="none">
                Supporting organisation
            </th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter" aria-sort="none">
                Status
            </th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">
        @foreach (var watchedSchool in Model.Watchlist)
        {
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-sort-value="@watchedSchool.SchoolName">@watchedSchool.SchoolName</td>
                <td class="govuk-table__cell"
                    data-sort-value="@watchedSchool.DateAdded">@watchedSchool.DateAdded.ToDateString()</td>
                <td class="govuk-table__cell"
                    data-sort-value="@watchedSchool.AssignedTo">@(watchedSchool.AssignedTo ?? "Not yet assigned")</td>
                <td class="govuk-table__cell"
                    data-sort-value="@watchedSchool.SupportingOrganisationName">@(watchedSchool.SupportingOrganisationName ?? "Not yet appointed")</td>
                <td class="govuk-table__cell" data-sort-value="@watchedSchool.Status">
                    <partial name="Shared/_ProjectStatus" model="watchedSchool.Status"/>
                </td>
            </tr>
        }
        </tbody>
    </table>
    }
    else
    {
        <p class="govuk-body"><strong>Your watchlist is currently empty.</strong></p>
    }

    <h2 class="govuk-heading-m">Helpful links (links open in a new tab</h2>
    <h3 class="govuk-heading-s">Targeted RISE reporting</h3>
    <ul class="govuk-list govuk-list--bullet">
        <li><a href="">RISE delivery dashboard</a></li>
        <li><a href="">RISE data tables</a></li>
        <li><a href="">RISE monitoring report</a></li>
    </ul>
    <h3 class="govuk-heading-s">Information from other services</h3>
    <ul class="govuk-list govuk-list--bullet">
        <li><a href="">See inspection reports at Ofsted</a></li>
        <li><a href="">Get information about schools</a></li>
        <li><a href="">Find information about schools and trusts</a></li>
    </ul>
</div>