@page "/notes/edit/{id:int}"
@model Dfe.ManageSchoolImprovement.Frontend.Pages.Notes.EditNoteModel


@{
    ViewData["Title"] = "Edit note";
}

@section BeforeMain
{
    <nav aria-label="back navigation">
        <a asp-page="@Links.Notes.Index.Page" asp-route-id="@Model.SupportProject.Id" class="govuk-back-link">Back</a>
    </nav>
}

@if (Model.ShowError)
{
    <partial name="_ErrorSummary"/>
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">@Model.SupportProject.SchoolName</span>
        <h1 class="govuk-heading-l">
            Edit
        </h1>
        <form method="post">
            <div class="govuk-form-group @(Model.ShowError ? "govuk-form-group--error" : "")">
                <label class="govuk-label govuk-label--m" for="project-note-body">
                    Note
                </label>
                @if (Model.ShowError)
                {
                    <p id="more-detail-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> Enter details
                    </p>
                }
                <textarea class="govuk-textarea @(Model.ShowError ? "govuk-textarea--error" : "")"
                          id="project-note-body" name="project-note-body" rows="5">@Model.ProjectNoteBody</textarea>
            </div>
            <input type="hidden" asp-for="ProjectNoteId"/>
            <button type="submit" draggable="false" class="govuk-button govuk-button" data-module="govuk-button">
                Save note
            </button>
        </form>
    </div>
</div>
    
