@page "/task-list/contact-the-responsible-body/{id:int}"
@using Dfe.ManageSchoolImprovement.Frontend.Models.SupportProject
@using Dfe.Academisation.ExtensionMethods
@model Dfe.ManageSchoolImprovement.Frontend.Pages.TaskList.ContactTheResponsibleBody.ContactTheResponsibleBodyModel

@{
    ViewData["Title"] = "Contact the responsible body";
}

@section BeforeMain
{
    <a asp-page="@Links.TaskList.Index.Page" asp-route-id="@Model.SupportProject.Id" class="govuk-back-link">Back</a>
}

@if (Model.ShowError)
{
   <partial name="_ErrorSummary"/>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">@Model.SupportProject.SchoolName</span>
        <h1 class="govuk-heading-l">
            Contact the responsible body
        </h1>
        <p class="govuk-body">Inform the responsible body that the school is eligible for targeted intervention.</p>
        
        <p class="govuk-body">How they do this may vary between regions, local authorities and trusts.</p>
        
         <p class="govuk-body">You or one of you colleagues may have already done this. If so, complete the checklist and enter the date this happened.</p>
        
        <form method="post" novalidate>
            <govuk-checkbox-input label="Discuss the best approach" id="discuss-best-approach" name="discuss-best-approach" asp-for="@Model.DiscussBestApproach"/>
            
            <details class="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        How to know who to contact
                    </span>
                </summary>
                <div class="govuk-details__text">
                    <p>Who you contact may depend on the way each local authority or trust like to work, and the circumstances of the school. Talk to the relevant trust relationship manager or point of contact for a local authority before you inform the responsible body of anything. Sometimes you may need to contact the school as well.</p>
                </div>
            </details>
            <govuk-checkbox-input label="Email the responsible body" id="email-responsible-body" name="email-responsible-body" asp-for="@Model.EmailResponsibleBody"/>
            <govuk-date-input heading-label="false" label="Enter the date of contact" id="responsible-body-contacted-date" name="responsible-body-contacted-date" asp-for="@Model.ResponsibleBodyContactedDate" hint="For example, 1 7 2024." />
            <button class="govuk-button" id="save-and-continue-button" data-module="govuk-button" data-cy="select-common-submitbutton">
                Save and return
            </button>
        </form>
    </div>
</div>
