@page "/progress-reviews/{id:int}/delete-review/{reviewId:int}"

@using GovUK.Dfe.CoreLibs.Utilities.Extensions
@model Dfe.ManageSchoolImprovement.Frontend.Pages.ProgressReviews.DeleteReviewModel
@{
    ViewData["Title"] = "Delete review";
}

@section BeforeMain
{
    <nav aria-label="back navigation">
        <a asp-page="@Links.ProgressReviews.EditReview.Page" asp-route-id="@Model.SupportProject?.Id"
            asp-route-reviewId="@Model.ReviewReadableId" class="govuk-back-link" data-cy="back-link">Back</a>
    </nav>
}

@if (Model.ShowError)
{
    <partial name="_ErrorSummary" />
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l" data-cy="page-heading">
            Are you sure you want to delete this progress review?
        </h1>
        <p>You should only delete incorrect information.</p>
        <p>Only the service support team can restore deleted progress ratings.</p>
        
            <h2 class="govuk-heading-m">Review to be deleted</h2>

        <article class='moj-ticket-panel govuk-!-margin-bottom-6' aria-label='@Model.ReviewTitle'>
            <section class='moj-ticket-panel__content moj-ticket-panel__content--blue'>
                <div class='govuk-grid-row'>
                    <div class='govuk-grid-column-one-half'>
                        <h2 class='govuk-heading-m govuk-!-margin-bottom-5'>
                            @Model.ReviewTitle
                        </h2>
                    </div>
                    <div class='govuk-grid-column-one-half govuk-!-text-align-right'>
                        <strong class='govuk-tag @Model.ReviewStatusClass'>@Model.ReviewStatus</strong>
                    </div>
                </div>
                <div class='govuk-grid-row'>
                    <div class='govuk-grid-column-one-half'>
                        <p class='govuk-body govuk-!-margin-bottom-0'>
                            <strong>Reviewed on @Model.ReviewDate.ToDateString()</strong><br/>
                            <strong>by</strong> @Model.ReviewerName
                        </p>
                    </div>
                </div>
            </section>
        </article>
        <form method="post" novalidate>
            <input type="hidden" name="ReturnPage" value="@Model.ReturnPage" />
            <input type="hidden" name="@nameof(Model.ImprovementPlanId)" value="@Model.ImprovementPlanId" />
            <input type="hidden" name="@nameof(Model.ImprovementPlanReviewId)" value="@Model.ImprovementPlanReviewId" />
            <div class="govuk-button-group">
                <button class="govuk-button govuk-button--warning" type="submit" data-module="govuk-button"
                    data-cy="save-and-return-button">
                    Delete review
                </button>
                <a asp-page="@Links.ProgressReviews.Index.Page" asp-route-id="@Model.SupportProject?.Id"
                    class="govuk-link" data-cy="cancel-link">
                    Cancel
                </a>
            </div>
        </form>
    </div>
</div>
