@page "/progress-reviews/{id:int}/edit-review/{reviewId:int}"
@model Dfe.ManageSchoolImprovement.Frontend.Pages.ProgressReviews.EditReviewModel
@{
    ViewData["Title"] = "Edit progress review";
}

@section BeforeMain
{
    <a asp-page="@Model.ReturnPage" asp-route-id="@Model.SupportProject.Id" class="govuk-back-link"
        data-cy="back-link">Back</a>
}

@if (Model.ShowError)
{
    <partial name="_ErrorSummary" />
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l" data-cy="school-name">Plan progress</span>
        <h1 class="govuk-heading-l" data-cy="page-heading">
            Edit progress review
        </h1>

        <form method="post" novalidate>
            <input type="hidden" asp-for="@Model.ImprovementPlanId" />
            <input type="hidden" asp-for="@Model.ImprovementPlanReviewId" />

            <govuk-date-input heading-label="false" label="Enter the date of the review" id="ReviewDate"
                name="ReviewDate" asp-for="@Model.ReviewDate" hint="For example, 27 3 2007."
                data-cy="review-date-input" />

            <govuk-radiobuttons-input heading="Who carried out the review?" heading-style="govuk-fieldset__legend--m"
                name="ReviewerSelection" asp-for="@Model.ReviewerSelection" radio-buttons="@Model.ReviewerRadioButtons"
                error-message="@Model.ReviewerSelectionErrorMessage" data-cy="reviewer-selection-radios" />

            <div class="govuk-button-group">
                <button class="govuk-button" type="submit" data-module="govuk-button" data-cy="save-and-return-button">
                    Save and return
                </button>
                <a asp-page="@Links.ProgressReviews.Index.Page" asp-route-id="@Model.SupportProject.Id"
                    class="govuk-link" data-cy="cancel-link">
                    Cancel
                </a>
            </div>
        </form>
    </div>
</div>
