@page "/ProgressReviews/{id:int}"
@using Dfe.Academisation.ExtensionMethods
@using Dfe.ManageSchoolImprovement.Frontend.Models.SupportProject
@model Dfe.ManageSchoolImprovement.Frontend.Pages.ProgressReviews.IndexModel
@{
    ViewData["Title"] = "Progress reviews";
}

@section BeforeMain
{
    <a asp-page="@Model.ReturnPage" asp-route-id="@Model.SupportProject.Id" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l" data-cy="school-name">Plan progress</span>
        <h1 class="govuk-heading-l" data-cy="page-heading">
            Progress reviews
        </h1>

        @if (Model.NoProgressReviewsRecorded)
        {
            <div class="govuk-inset-text">
                <h3 class="govuk-heading-s govuk-!-margin-bottom-2">No progress reviews recorded</h3>
                <p class="govuk-body govuk-!-margin-bottom-0">You must enter details of a progress review first.</p>
            </div>

            <div class="govuk-button-group">
                <a asp-page="@Links.ProgressReviews.AddReview.Page"
                   asp-route-id="@Model.SupportProject.Id"
                   asp-route-improvementplanid="@Model.SupportProject.ImprovementPlans!.First().ReadableId"
                   role="button"
                   draggable="false"
                   class="govuk-button"
                   data-module="govuk-button">
                    Add review
                </a>
                <a asp-page="@Links.ImprovementPlan.ImprovementPlanTab.Page"
                   asp-route-id="@Model.SupportProject.Id"
                   class="govuk-link">
                    Return to improvement plan
                </a>
            </div>
        }
        else
        {
            <!-- No more reviews needed section -->
            <div class="govuk-inset-text govuk-!-margin-bottom-6">
                @if (Model.CurrentProgressReview?.NextReviewDate is null)
                {
                    <h3 class="govuk-heading-s govuk-!-margin-bottom-2">No more reviews needed</h3>
                    <p class="govuk-body govuk-!-margin-bottom-2">
                        <a asp-page="@Links.ProgressReviews.NextReview.Page"
                           asp-route-id="@Model.SupportProject.Id"
                           asp-route-reviewid="@Model.CurrentProgressReview.ReadableId"
                           class="govuk-link">Add next review date</a>
                    </p>
                }
                else
                {
                    <h3 class="govuk-heading-s govuk-!-margin-bottom-2">The next review should happen on or around <strong>@Model.CurrentProgressReview.NextReviewDate.ToDateString()</strong></h3>
                    <p class="govuk-body govuk-!-margin-bottom-2">
                        <a asp-page="@Links.ProgressReviews.NextReview.Page"
                           asp-route-id="@Model.SupportProject.Id"
                           asp-route-reviewid="@Model.CurrentProgressReview.ReadableId"
                           class="govuk-link">Change next review date</a>
                    </p>
                }

            </div>

            <!-- Progress review cards -->
            @foreach (var review in Model.ProgressReviews)
            {
                <div class="govuk-summary-card govuk-!-margin-bottom-6">
                    <div class="govuk-summary-card__title-wrapper">
                        <h2 class="govuk-summary-card__title">First Review</h2>
                        <ul class="govuk-summary-card__actions">
                            <li class="govuk-summary-card__action">
                                <strong class="govuk-tag @review.ProgressStatusClass">@review.ProgressStatus</strong>
                            </li>
                        </ul>
                    </div>
                    <div class="govuk-summary-card__content">
                        <dl class="govuk-summary-list">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key govuk-!-width-one-half">
                                    Reviewed on @review.ReviewDate.ToDateString()<br>
                                    by @review.Reviewer
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    &nbsp;
                                </dd>
                                @if (review.ProgressStatusClass == ImprovementPlanReviewViewModel.ProgressStatusNotRecorded)
                                {
                                    <dd class="govuk-summary-list__actions govuk-!-width-one-third">
                                        <a asp-page="@Links.ProgressReviews.RecordProgress.Page"
                                           asp-route-id="@Model.SupportProject.Id"
                                           asp-route-reviewId="@review.ReadableId"
                                           class="govuk-link">Record progress</a>
                                    </dd>
                                }
                                else
                                {
                                    <dd class="govuk-summary-list__actions govuk-!-width-one-third">
                                        <a asp-page="@Links.ProgressReviews.ProgressSummary.Page"
                                           asp-route-id="@Model.SupportProject.Id"
                                           asp-route-reviewId="@review.ReadableId"
                                           class="govuk-link">View progress summary</a>
                                    </dd>

                                }

                            </div>
                        </dl>
                        <p class="govuk-body govuk-!-margin-top-3">
                            <a asp-page="@Links.ProgressReviews.EditReview.Page"
                               asp-route-id="@Model.SupportProject.Id"
                               asp-route-reviewid="@review.ReadableId"
                               class="govuk-link">Edit review details</a>
                        </p>
                    </div>
                </div>
            }

            <div class="govuk-button-group">
                <a asp-page="@Links.ProgressReviews.AddReview.Page"
                   asp-route-id="@Model.SupportProject.Id"
                   asp-route-improvementplanid="@Model.SupportProject.ImprovementPlans!.First().Id"
                   role="button"
                   draggable="false"
                   class="govuk-button"
                   data-module="govuk-button">
                    Add review
                </a>
                <a asp-page="@Links.ImprovementPlan.ImprovementPlanTab.Page"
                   asp-route-id="@Model.SupportProject.Id"
                   class="govuk-link">
                    Return to improvement plan
                </a>
            </div>
        }
    </div>
</div> 