@page "/progress-reviews/{id:int}"
@using GovUK.Dfe.CoreLibs.Utilities.Extensions
@using Dfe.ManageSchoolImprovement.Frontend.Models.SupportProject
@model Dfe.ManageSchoolImprovement.Frontend.Pages.ProgressReviews.IndexModel
@{
    ViewData["Title"] = "Progress reviews";

    bool progressReviewDeleted = (bool)(TempData["progressReviewDeleted"] ?? false);
    bool reviewDeleted = (bool)(TempData["reviewDeleted"] ?? false);
    
    var matchedSchool = Model.SupportProject?.InitialDiagnosisMatchingDecision == "Match with a supporting organisation";

    var matchingDecisionHasChangedBeforeObjectives = Model.CurrentProgressReview is { Type: "Review progress" }
                                                     && matchedSchool && !Model.ObjectivesComplete;
    
    var matchingDecisionHasChangedAfterObjectives = Model.CurrentProgressReview is { Type: "Review progress" } 
                                                    && !matchedSchool && Model.ObjectivesComplete;
    
    var reviewType = "Matched";

    if (matchingDecisionHasChangedBeforeObjectives || !matchedSchool)
    {
        reviewType = "Review progress";
    }
};


@section BeforeMain
{
    <nav aria-label="back navigation">
        <a asp-page="@Model.ReturnPage" asp-route-id="@Model.SupportProject?.Id" class="govuk-back-link"
           data-cy="back-link">Back</a>
    </nav>
}

@if (progressReviewDeleted || reviewDeleted)
{
    <div class="govuk-notification-banner govuk-notification-banner--success" role="alert"
         aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner"
         cy-data="task-updated-success-notification">
        <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                Success
            </h2>
        </div>
        <div class="govuk-notification-banner__content">
            <h3 class="govuk-notification-banner__heading" id="contact-added">
                @(progressReviewDeleted ? "Progress review" : "Review") deleted
            </h3>
        </div>
    </div>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l" data-cy="school-name">Plan progress</span>
        <h1 class="govuk-heading-l" data-cy="page-heading">
            Progress reviews
        </h1>

        @if (Model.NoProgressReviewsRecorded)
        {
            <article class="moj-ticket-panel" aria-label="No progress reviews">
                <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
                    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">No progress reviews recorded</h2>
                    <p class="govuk-body">You must enter details of a progress review first.</p>
                </section>
            </article>

            <div class="govuk-button-group">
                @if (!Model.SupportProject!.IsReadOnly)
                {
                    if (matchedSchool)
                    {
                        <a asp-page="@Links.ProgressReviews.AddReview.Page" asp-route-id="@Model.SupportProject.Id"
                           asp-route-readableimprovementplanid="@Model.SupportProject.ImprovementPlans!.First().ReadableId"
                           role="button" draggable="false" class="govuk-button" data-module="govuk-button"
                           data-cy="add-review-button">
                            Add review
                        </a>
                    }
                    else
                    {
                        <a asp-page="@Links.ProgressReviews.AddReview.Page" asp-route-id="@Model.SupportProject.Id"
                           role="button" draggable="false" class="govuk-button" data-module="govuk-button"
                           data-cy="add-review-button">
                            Add review
                        </a>
                    }
                }
                <a asp-page="@Links.ImprovementPlan.RecordProgress.Page" asp-route-id="@Model.SupportProject.Id"
                   class="govuk-link" data-cy="return-to-improvement-plan-link">
                    Return to record progress
                </a>
            </div>
        }
        else
        {
            <!-- No more reviews needed section -->
            if (!Model.SupportProject!.IsReadOnly && !matchingDecisionHasChangedBeforeObjectives)
            {
                <div class="govuk-inset-text govuk-!-margin-bottom-6">
                    @if (Model.CurrentProgressReview?.NextReviewDate is null)
                    {
                        <h2 class="govuk-heading-s govuk-!-margin-bottom-2">No more reviews needed</h2>
                        <p class="govuk-body govuk-!-margin-bottom-2">
                            <a asp-page="@Links.ProgressReviews.NextReview.Page" asp-route-id="@Model.SupportProject.Id"
                               asp-route-reviewid="@Model.CurrentProgressReview?.ReadableId"
                               asp-route-reviewtype="@Model.CurrentProgressReview?.Type"
                               class="govuk-link"
                               data-cy="add-next-review-date-link">Add next review date</a>
                        </p>
                    }
                    else
                    {
                        <p class="govuk-body govuk-!-margin-bottom-2">
                            The next review should happen on or around
                            <strong>@Model.CurrentProgressReview.NextReviewDate.ToDateString()</strong>
                        </p>
                        <p class="govuk-body govuk-!-margin-bottom-2">
                            <a asp-page="@Links.ProgressReviews.NextReview.Page" asp-route-id="@Model.SupportProject.Id"
                               asp-route-reviewid="@Model.CurrentProgressReview.ReadableId"
                               asp-route-reviewtype="@Model.CurrentProgressReview?.Type"
                               class="govuk-link"
                               data-cy="next-review-date-change-link">Change next review date</a>
                        </p>
                    }
                </div>
            }

            <!-- Progress review cards -->
            @foreach (var review in Model.AllProgressReviews)
            {
                <partial name="_ReviewSummaryCard"
                         model="(review.Title, 
                             review.ProgressStatusClass, 
                             review.ProgressStatus, 
                             review.ReviewDate, 
                             review.Reviewer,
                             review.Type,
                             (bool?)Model.SupportProject.IsReadOnly, 
                             (int?)Model.SupportProject.Id, 
                             (int?)review.ReadableId)"/>
            }

            <div class="govuk-button-group">
                @if (!Model.SupportProject.IsReadOnly && !matchingDecisionHasChangedBeforeObjectives)
                {
                    @if (matchedSchool)
                    {
                        <a asp-page="@Links.ProgressReviews.AddReview.Page" asp-route-id="@Model.SupportProject.Id"
                           asp-route-readableimprovementplanid="@Model.SupportProject.ImprovementPlans!.First().ReadableId"
                           asp-route-reviewtype="@reviewType"
                           role="button" draggable="false" class="govuk-button" data-module="govuk-button"
                           data-cy="add-review-button">
                            Add review
                        </a>
                    }
                    else
                    {
                        <a asp-page="@Links.ProgressReviews.AddReview.Page" asp-route-id="@Model.SupportProject.Id"
                           role="button" draggable="false" class="govuk-button" data-module="govuk-button"
                           data-cy="add-review-button">
                            Add review
                        </a>
                    }
                }
                <a asp-page="@Links.ImprovementPlan.RecordProgress.Page" asp-route-id="@Model.SupportProject.Id"
                   class="govuk-link" data-cy="return-to-improvement-plan-link">
                    Return to record progress
                </a>
            </div>
        }
    </div>
</div>
