@page "/progress-reviews/{id:int}/overall-progress/{reviewId:int}"
@using Dfe.Academisation.ExtensionMethods
@model Dfe.ManageSchoolImprovement.Frontend.Pages.ProgressReviews.OverallProgressModel
@{
    ViewData["Title"] = "Overall progress";
}

@section BeforeMain
{
    <a asp-page="@Model.ReturnPage" asp-route-id="@Model.SupportProject.Id" asp-route-reviewid="@Model.ReviewId" class="govuk-back-link">Back</a>
}

@if (Model.ShowError)
{
    <partial name="_ErrorSummary" />
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l" data-cy="page-caption">Progress review</span>
        <h1 class="govuk-heading-l" data-cy="page-heading">
            Overall progress
        </h1>

        <!-- Review details box -->
        <section class='moj-ticket-panel__content moj-ticket-panel__content--blue'>
            <div class='govuk-grid-row'>
                <div class='govuk-grid-column-two-thirds'>
                    <p class='govuk-body govuk-!-margin-bottom-0'>
                        <strong>Reviewed on @Model.ReviewDate.ToDateString()</strong><br />
                        <strong>by</strong> @Model.ReviewerName
                    </p>
                </div>
            </div>
        </section>

        <form method="post" novalidate>
            <input type="hidden" asp-for="@Model.ReviewId" />

            <govuk-radiobuttons-input heading="How is the school progressing overall?"
                                      heading-style="govuk-fieldset__legend--m"
                                      name="OverallProgressStatus"
                                      asp-for="@Model.OverallProgressStatus"
                                      radio-buttons="@Model.OverallProgressRadioButtons"
                                      error-message="@Model.OverallProgressStatusErrorMessage" />

            <div class="govuk-form-group @(Model.ShowDetailsError ? "govuk-form-group--error" : "")">
                <h2 class="govuk-label-wrapper">
                    <label class="govuk-label govuk-label--m" for="overall-progress-details">
                        Details
                    </label>
                </h2>
                @if (Model.ShowDetailsError)
                {
                    <p id="overall-progress-details-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> Enter details about how the school is progressing overall
                    </p>
                }
                <textarea class="govuk-textarea @(Model.ShowDetailsError ? "govuk-textarea--error" : "")"
                          id="overall-progress-details"
                          name="OverallProgressDetails"
                          rows="5"
                          asp-for="@Model.OverallProgressDetails"></textarea>
            </div>

            <div class="govuk-button-group">
                @if(Model.ReturnPage == Links.ProgressReviews.Index.Page)
                {
                    <button class="govuk-button" type="submit" data-module="govuk-button">
                        Save
                    </button>
                }
                else
                {
                    <button class="govuk-button" type="submit" data-module="govuk-button">
                        Save and return
                    </button>
                    <a asp-page="@Model.ReturnPage"
                       asp-route-id="@Model.SupportProject.Id"
                       asp-route-reviewid="@Model.ReviewId"
                       class="govuk-link">
                        Cancel
                    </a>
                }
            </div>
        </form>
    </div>
</div> 