@page "/ProgressReviews/{id:int}/ProgressSummary"
@using Dfe.Academisation.ExtensionMethods
@model Dfe.ManageSchoolImprovement.Frontend.Pages.ProgressReviews.ProgressSummaryModel
@{
    ViewData["Title"] = "Progress summary";
}

@section BeforeMain
{
    <a asp-page="@Model.ReturnPage" asp-route-id="@Model.SupportProject?.Id" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l" data-cy="school-name">Progress review</span>
        <h1 class="govuk-heading-l" data-cy="page-heading">
            Improvement plan objectives
        </h1>
        <article class='moj-ticket-panel govuk-!-margin-bottom-6' aria-label='@Model.Review.Title'>
            <section class='moj-ticket-panel__content moj-ticket-panel__content--blue'>
                <div class='govuk-grid-row'>
                    <div class='govuk-grid-column-one-half'>
                        <h2 class='govuk-heading-s govuk-!-margin-bottom-5'>
                            @Model.Review.Title
                        </h2>
                    </div>
                    <div class='govuk-grid-column-one-half govuk-!-text-align-right'>
                        <strong class='govuk-tag @Model.Review.ProgressStatusClass'>@Model.Review.ProgressStatus</strong>
                    </div>
                </div>
                <div class='govuk-grid-row'>
                    <div class='govuk-grid-column-two-thirds'>
                        <p class='govuk-body govuk-!-margin-bottom-0'>
                            <strong>Reviewed on @Model.Review.ReviewDate.ToDateString()</strong><br />
                            <strong>by</strong> @Model.Review.Reviewer
                        </p>
                    </div>
                </div>
            </section>
        </article>
        @foreach (var group in Model.ObjectiveProgressGroups)
        {
            <h2 class="govuk-heading-m govuk-!-margin-top-7 govuk-!-margin-bottom-6">@group.AreaOfImprovement</h2>           
            @foreach (var objective in group.ObjectiveProgresses)
            {
                <div class="govuk-summary-card govuk-!-margin-bottom-6">
                    <div class="govuk-summary-card__title-wrapper">
                        <h3 class="govuk-summary-card__title">@objective.Title</h3>
                        <ul class="govuk-summary-card__actions">
                            <li class="govuk-summary-card__action">
                                @if (objective.ReadableId != 0)                                
                                {
                                    <a asp-page="@Links.ProgressReviews.ChangeProgress.Page"
                                       asp-route-id="@Model.SupportProject?.Id"
                                       asp-route-objectiveProgressId="@objective.ReadableId"
                                       class="govuk-link">
                                        Change<span class="govuk-visually-hidden"> @objective.Title</span>
                                    </a>
                                }
                                else
                                {
                                    <a asp-page="@Links.ProgressReviews.RecordProgress.Page"
                                       asp-route-id="@Model.SupportProject?.Id"
                                       asp-route-reviewId="@Model.ReviewId"
                                       asp-route-objectiveId="@objective.ObjectiveReadableId"
                                       asp-route-returnpage="@Links.ProgressReviews.ProgressSummary.Page"
                                   class="govuk-link">
                                    Record<span class="govuk-visually-hidden"> @objective.Title</span>
                                </a>
                                }


                            </li>
                        </ul>
                    </div>
                    <div class="govuk-summary-card__content">
                        <dl class="govuk-summary-list">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Progress
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @objective.Progress
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Details
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @objective.Details
                                </dd>
                            </div>
                        </dl>
                    </div>
                </div>
            }
        }
        
        <div class="govuk-button-group govuk-!-margin-top-7">
            <a asp-page="@Links.ProgressReviews.Index.Page"
               asp-route-id="@Model.SupportProject?.Id" 
               role="button" 
               draggable="false" 
               class="govuk-button" 
               data-module="govuk-button">
                Return to progress reviews
            </a>
        </div>
    </div>
</div> 