@page "/progress-reviews/{id:int}/progress-summary"
@using Dfe.Academisation.ExtensionMethods
@model Dfe.ManageSchoolImprovement.Frontend.Pages.ProgressReviews.ProgressSummaryModel
@{
    ViewData["Title"] = "Progress summary";
}

@section BeforeMain
{
    <nav aria-label="back navigation">
        <a asp-page="@Model.ReturnPage" asp-route-id="@Model.SupportProject?.Id" class="govuk-back-link"
            data-cy="back-link">Back</a>
    </nav>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l" data-cy="school-name">Progress review</span>
        <h1 class="govuk-heading-l" data-cy="page-heading">
            Improvement plan objectives
        </h1>
        <article class='moj-ticket-panel govuk-!-margin-bottom-6' aria-label='@Model.Review.Title'>
            <section class='moj-ticket-panel__content moj-ticket-panel__content--blue'>
                <div class='govuk-grid-row'>
                    <div class='govuk-grid-column-one-half'>
                        <h2 class='govuk-heading-m govuk-!-margin-bottom-5'>
                            @Model.Review.Title
                        </h2>
                    </div>
                    <div class='govuk-grid-column-one-half govuk-!-text-align-right'>
                        <strong
                            class='govuk-tag @Model.Review.ProgressStatusClass'>@Model.Review.ProgressStatus</strong>
                    </div>
                </div>
                <div class='govuk-grid-row'>
                    <div class='govuk-grid-column-two-thirds'>
                        <p class='govuk-body govuk-!-margin-bottom-0'>
                            <strong>Reviewed on @Model.Review.ReviewDate.ToDateString()</strong><br />
                            <strong>by</strong> @Model.Review.Reviewer
                        </p>
                    </div>
                </div>
            </section>
        </article>
        
        @foreach (var group in Model.ObjectiveProgressGroups)
        {
            <h2 class="govuk-heading-m govuk-!-margin-top-7 govuk-!-margin-bottom-6">@group.AreaOfImprovement</h2>
            @foreach (var objective in group.ObjectiveProgresses)
            {
                <div class="govuk-summary-card govuk-!-margin-bottom-6">
                    <div class="govuk-summary-card__title-wrapper">
                        <h3 class="govuk-summary-card__title">@objective.Title</h3>
                        <ul class="govuk-summary-card__actions">
                            <li class="govuk-summary-card__action">
                                @if (objective.ReadableId != 0)
                                {
                                    <a asp-page="@Links.ProgressReviews.ChangeProgress.Page"
                                        asp-route-id="@Model.SupportProject?.Id"
                                        asp-route-objectiveProgressId="@objective.ReadableId" class="govuk-link"
                                        data-cy="change-objective-progress-link-@objective.ReadableId">
                                        Change<span class="govuk-visually-hidden"> @objective.Title</span>
                                    </a>
                                }
                                else
                                {
                                    <a asp-page="@Links.ProgressReviews.RecordProgress.Page"
                                        asp-route-id="@Model.SupportProject?.Id" asp-route-reviewId="@Model.ReviewId"
                                        asp-route-objectiveId="@objective.ObjectiveReadableId"
                                        asp-route-returnpage="@Links.ProgressReviews.ProgressSummary.Page" class="govuk-link"
                                        data-cy="record-objective-progress-link-@objective.ObjectiveReadableId">
                                        Record<span class="govuk-visually-hidden"> @objective.Title</span>
                                    </a>
                                }


                            </li>
                        </ul>
                    </div>
                    <div class="govuk-summary-card__content">
                        <dl class="govuk-summary-list">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Progress rating
                                </dt>
                                @if (!string.IsNullOrWhiteSpace(objective.Progress))
                                {
                                    <dd class="govuk-summary-list__value">
                                        <partial name="_ProgressRating" model=@objective.Progress/>
                                    </dd>
                                }
                                else
                                {
                                    <dd class="govuk-summary-list__value">
                                        No progress recorded yet
                                    </dd>
                                }
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Details
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @objective.Details
                                </dd>
                            </div>
                        </dl>
                    </div>
                </div>
            }
        }
        
        <h2 class="govuk-heading-m govuk-!-margin-top-7 govuk-!-margin-bottom-6">Overall progress</h2>
        <div class="govuk-summary-card govuk-!-margin-bottom-6">
            <div class="govuk-summary-card__title-wrapper">
                <h3 class="govuk-summary-card__title">Overall progress</h3>
                <ul class="govuk-summary-card__actions">
                    <li class="govuk-summary-card__action">
                        <a asp-page="@Links.ProgressReviews.OverallProgress.Page"
                           asp-route-id="@Model.SupportProject?.Id" asp-route-reviewid="@Model.Review.ReadableId"
                           asp-route-returnpage="@Links.ProgressReviews.ProgressSummary.Page" class="govuk-link"
                           data-cy="change-overall-progress-link">
                            Change<span class="govuk-visually-hidden">Overall progress</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Next steps
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.Review.OverallProgressDetails
                        </dd>
                    </div>
                </dl>
            </div>
        </div>

        <div class="govuk-button-group govuk-!-margin-top-7">
            <a asp-page="@Links.ProgressReviews.Index.Page" asp-route-id="@Model.SupportProject?.Id" role="button"
                draggable="false" class="govuk-button" data-module="govuk-button"
                data-cy="return-to-progress-reviews-button">
                Return to progress reviews
            </a>
        </div>
    </div>
</div>
