@page "/about-the-school/{id:int}"
@using Dfe.ManageSchoolImprovement.Frontend.Models
@using Dfe.ManageSchoolImprovement.Frontend.TagHelpers
@using Dfe.Academisation.ExtensionMethods
@using System.Globalization
@model Dfe.ManageSchoolImprovement.Frontend.Pages.AboutTheSchool.IndexModel
@{
    Model.SetErrorPage(Links.SchoolList.Index.Page);
    ViewData["Title"] = "About the school";
    TempData["AssignmentReferrer"] = @Links.AboutTheSchool.Index.Page;
}

@section BeforeMain
{
    <nav aria-label="back navigation">
        <a asp-page="@Model.ReturnPage" class="govuk-back-link">@Links.SchoolList.Index.BackText</a>
    </nav>
}


<partial name="_ErrorSummary" />


<partial name="_ProjectHeader" model="Model.SupportProject" />

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l govuk-!-margin-bottom-2" data-test="ofsted-report">About the school</h2>
        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">
                    School overview
                </h2>
            </div>
            <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Previous URN
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.SupportProject.PreviousUrn
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Region
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.SupportProject.Region
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Local authority
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.SupportProject.LocalAuthority
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            School type
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.SupportProject.SchoolType
                        </dd>
                    </div>
                    @if (!string.IsNullOrEmpty(Model.SupportProject.TrustName))
                    {
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Trust
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @CultureInfo.CurrentCulture.TextInfo.ToTitleCase(@Model.SupportProject.TrustName.ToLower())
                            </dd>
                        </div>
                    }
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            School phase
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.SupportProject.SchoolPhase
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Religious character
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.SupportProject.ReligiousCharacter
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Diocese
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.SupportProject.Diocese
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Number on roll (NOR)
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.SupportProject.NumbersOnRoll
                        </dd>
                    </div>
                </dl>
            </div>
        </div>
        <h3 class="govuk-heading-m">Information from other services</h3>
        <p class="govuk-body">Links open in a new tab.</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>
                <a class="govuk-link" href="@("https://reports.ofsted.gov.uk/inspection-reports/find-inspection-report/provider/ELS/" + @Model.SupportProject.SchoolUrn)" rel="noreferrer noopener" target="_blank" data-testid="ofsted-inspection-reports-link">See inspection reports at Ofsted</a>
            </li>
            <li>
                <a class="govuk-link" href="@("https://www.get-information-schools.service.gov.uk/Establishments/Establishment/Details/" + @Model.SupportProject.SchoolUrn)" rel="noreferrer noopener" target="_blank" data-testid="ofsted-inspection-reports-link">Get information about schools</a>
            </li>
            <li>
                <a class="govuk-link" href="@("https://www.find-information-schools-trusts.education.gov.uk/schools/overview/details?urn=" + @Model.SupportProject.SchoolUrn)" rel="noreferrer noopener" target="_blank" data-testid="ofsted-inspection-reports-link">Find information about schools and trusts</a>
            </li>
        </ul>
         <details class="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Where this information came from
                </span>
            </summary>
            <div class="govuk-details__text">
                <p>School information taken from Get information about schools on @DateTime.Now.ToDateString()</p>
            </div>
        </details>
    </div>
</div>
