
@using Dfe.Academisation.ExtensionMethods
@model Dfe.ManageSchoolImprovement.Frontend.Models.SupportProject.ContactViewModel

<div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
            @Model.RoleName
        </h2>
        @if (Model.ManuallyAdded)
        {
            <ul class="govuk-summary-card__actions">
                <li class="govuk-summary-card__action">
                    <a asp-page="@Links.Contacts.EditContact.Page" asp-route-id="@Model.SupportProjectId"
                       asp-route-contactId="@Model.ContactId" role="button" draggable="false" class="govuk-link"
                       data-module="govuk-button">
                        Change<span class="govuk-visually-hidden"> contact</span>
                    </a>
                </li>
            </ul>
        }
    </div>
    <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Name
                </dt>
                <dd class="govuk-summary-list__value">
                    <span class="empty">@(string.IsNullOrEmpty(Model.Name) ? "Not available" : Model.Name)</span>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Email
                </dt>

                <dd class="govuk-summary-list__value">
                    <span class="empty">@(string.IsNullOrEmpty(Model.Email) ? "Not available" : Model.Email)</span>
                </dd>

            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Phone
                </dt>
                <dd class="govuk-summary-list__value">
                    <span class="@(string.IsNullOrEmpty(Model.Phone) ? "empty" : null)"
                          data-id="phone">@(string.IsNullOrEmpty(Model.Phone) ? "Not available" : Model.Phone)</span>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Taken from
                </dt>
                <dd class="govuk-summary-list__value">
                    <span
                        data-id="source">@(Model.ManuallyAdded ? "Added manually" : "Get information about schools")</span>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Last imported
                </dt>
                <dd class="govuk-summary-list__value">
                    <span
                        class="empty">@(string.IsNullOrEmpty(Model.LastModifiedOn.ToDateString()) ? "Not available" : Model.LastModifiedOn.ToDateString())</span>
                </dd>
            </div>
        </dl>
    </div>
</div>
