@using Dfe.ManageSchoolImprovement.Utils
@using Microsoft.AspNetCore.Hosting
@inject IWebHostEnvironment Environment

@using System.Globalization;
@model ProjectListFilters
<div class="moj-filter">
    <div class="moj-filter__header">
        <div class="moj-filter__header-title">
            <h2 class="govuk-heading-m">Filter</h2>
        </div>
        <div class="moj-filter__header-action">
        </div>
    </div>
    <div class="moj-filter__content">
        <div if="Model.IsVisible" class="moj-filter__selected">

            <div class="moj-filter__selected-heading">

                <div class="moj-filter__heading-title">
                    <h2 class="govuk-heading-m">Selected filters</h2>
                    @if (!Model.IsVisible)
                    {
                        <p class="govuk-body">No filters selected.</p>
                    }
                </div>
                <div class="moj-filter__heading-action">
                    <p><a class="govuk-link govuk-link--no-visited-state" data-cy="clear-filter"
                          href="@Url.RouteUrl(ViewContext.RouteData.Values)?clear">Clear filters</a></p>
                </div>
            </div>
            @if (Model.SelectedOfficers.Length > 0)
            {
                <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Assigned to</h3>

                <ul class="moj-filter-tags">
                    @{
                        foreach (var officer in Model.SelectedOfficers)
                        {
                            <li><a class="moj-filter__tag" href="@Url.RouteUrl(ViewContext.RouteData.Values)?remove&selectedOfficers=@officer"><span class="govuk-visually-hidden">Remove this filter</span> @officer.Stub()</a></li>
                        }
                    }

                </ul>
            }
            @if (Model.SelectedAdvisers.Length > 0)
            {
                <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Advised by</h3>

                <ul class="moj-filter-tags">
                    @{
                        foreach (var adviser in Model.SelectedAdvisers)
                        {
                            <li>
                                <a class="moj-filter__tag" href="@Url.RouteUrl(ViewContext.RouteData.Values)?remove&selectedAdvisers=@adviser">
                                    <span class="govuk-visually-hidden">Remove this filter</span> @adviser.Stub()
                                </a>
                            </li>
                        }
                    }

                </ul>
            }
            @if (Model.SelectedRegions.Length > 0)
            {
                <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Region</h3>

                <ul class="moj-filter-tags">
                    @{
                        foreach (var region in Model.SelectedRegions)
                        {
                            <li><a class="moj-filter__tag"
                                   href="@Url.RouteUrl(ViewContext.RouteData.Values)?remove&SelectedRegions=@region"><span
                                        class="govuk-visually-hidden">Remove this filter</span> @region.Stub()</a></li>
                        }
                    }
                </ul>
            }
            @if (Model.SelectedLocalAuthorities.Length > 0)
            {
                <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Local authority</h3>

                <ul class="moj-filter-tags">
                    @{
                        foreach (var localAuthority in Model.SelectedLocalAuthorities)
                        {
                            <li><a class="moj-filter__tag"
                                   href="@Url.RouteUrl(ViewContext.RouteData.Values)?remove&SelectedLocalAuthorities=@localAuthority"><span
                                        class="govuk-visually-hidden">Remove this filter</span> @localAuthority.Stub()
                                </a></li>
                        }
                    }
                </ul>
            }
            @if (Model.SelectedTrusts.Length > 0)
            {
                <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Trust</h3>

                <ul class="moj-filter-tags">
                    @{
                        foreach (var trust in Model.SelectedTrusts)
                        {
                            <li><a class="moj-filter__tag" href="@Url.RouteUrl(ViewContext.RouteData.Values)?remove&selectedTrusts=@trust"><span class="govuk-visually-hidden">Remove this filter</span> @trust.Stub()</a></li>
                        }
                    }

                </ul>
            }
        </div>
        <div class="moj-filter__options">
            <form method="get" class="form">
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-label--m" for="Title">
                        Find a school
                    </label>
                    <span class="govuk-hint">You can filter by school name or URN (unique reference number).</span>
                    <div class="govuk-!-margin-top-2">
                        <input id="Title" name="Title" asp-for="Title" type="text" class="govuk-input"
                               aria-describedby="Title"
                               data-cy="select-projectlist-filter-title">
                    </div>
                </div>
                <div class="govuk-form-group">
                    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
                        <div class="govuk-accordion__section">
                            <div class="govuk-accordion__section-header">
                                <h2 class="govuk-accordion__section-heading">
                                    <span class="govuk-accordion__section-button" id="accordion-officers-heading">
                                        Assigned to
                                    </span>
                                </h2>
                            </div>
                            <div class="govuk-accordion__section-content">
                                <input type="text" class="govuk-input govuk-!-display-none govuk-!-margin-bottom-2" id="filter-searches" placeholder="Type to filter officers...">
                                <div class="govuk-checkboxes">
                                    @{
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="filter-delivery-officer-not-assigned"
                                                   name="selectedOfficers" type="checkbox" value="Not assigned" @(Model.SelectedOfficers.Contains("Not assigned") ? "checked" : null)
                                                   data-cy="select-projectlist-filter-officer-not-assigned">
                                            <label class="govuk-label govuk-checkboxes__label" for="filter-delivery-officer-not-assigned">
                                                Not assigned
                                            </label>
                                        </div>
                                        foreach (var officer in Model.AvailableDeliveryOfficers)
                                        {
                                            <div class="govuk-checkboxes__item">
                                                <input class="govuk-checkboxes__input" id="filter-delivery-officer-@officer.Stub()" name="selectedOfficers" type="checkbox" value="@officer" data-cy="select-projectlist-filter-officer-@officer"
                                                       @(Model.SelectedOfficers.Contains(officer) ? "checked" : null) />
                                                <label class="govuk-label govuk-checkboxes__label" for="filter-delivery-officer-@officer.Stub()">
                                                    @officer
                                                </label>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                            <div class="govuk-accordion__section">
                                <div class="govuk-accordion__section-header">
                                    <h2 class="govuk-accordion__section-heading">
                                        <span class="govuk-accordion__section-button" id="accordion-advisers-heading" data-cy="select-projectlist-filter-adviser">
                                            Advised by
                                        </span>
                                    </h2>
                                </div>
                                <div class="govuk-accordion__section-content">
                                    <input 
                                        type="text" 
                                        class="govuk-input govuk-!-display-none govuk-!-margin-bottom-2" 
                                        id="filter-searches" 
                                        placeholder="Type to filter advisers...">
                                    <div class="govuk-checkboxes">
                                        @{
                                            <div class="govuk-checkboxes__item">
                                                <input class="govuk-checkboxes__input" id="filter-adviser-not-assigned"
                                                       name="selectedAdvisers" type="checkbox" value="Not assigned" @(Model.SelectedAdvisers.Contains("Not assigned") ? "checked" : null)
                                                       data-cy="select-projectlist-filter-adviser-not-assigned">
                                                <label class="govuk-label govuk-checkboxes__label" for="filter-adviser-not-assigned">
                                                    Not assigned
                                                </label>
                                            </div>
                                            foreach (var adviser in Model.AvailableAdvisers)
                                            {
                                                <div class="govuk-checkboxes__item">
                                                    <input class="govuk-checkboxes__input" id="filter-adviser-@adviser.Stub()" name="selectedAdvisers" type="checkbox" value="@adviser" data-cy="select-projectlist-filter-adviser-@adviser"
                                                           @(Model.SelectedAdvisers.Contains(adviser) ? "checked" : null)/>
                                                    <label class="govuk-label govuk-checkboxes__label" for="filter-adviser-@adviser.Stub()">
                                                        @adviser
                                                    </label>
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        <div class="govuk-accordion__section">
                            <div class="govuk-accordion__section-header">
                                <h2 class="govuk-accordion__section-heading">
                                    <label class="govuk-accordion__section-button" id="accordion-regions-heading"
                                           data-cy="select-projectlist-filter-region" for="filter-searches">
                                        Region
                                    </label>
                                </h2>
                            </div>
                            <div class="govuk-accordion__section-content">
                                <input type="text" class="govuk-input govuk-!-display-none govuk-!-margin-bottom-2"
                                       id="filter-searches" placeholder="Type to filter regions..."
                                       aria-labelledby="accordion-regions-heading">
                                <div class="govuk-checkboxes">
                                    @foreach (var region in Model.AvailableRegions)
                                    {
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input"
                                                   id="filter-project-region-@region.Stub()" name="selectedRegions"
                                                   type="checkbox" value="@region"
                                                   data-cy="select-projectlist-filter-region-@region"
                                                   @(Model.SelectedRegions.Contains(region) ? "checked" : null)/>
                                            <label class="govuk-label govuk-checkboxes__label"
                                                   for="filter-project-region-@region.Stub()">
                                                @region
                                            </label>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="govuk-accordion__section">
                            <div class="govuk-accordion__section-header">
                                <h2 class="govuk-accordion__section-heading">
                                    <label class="govuk-accordion__section-button"
                                           id="accordion-local-authorities-heading"
                                           data-cy="select-projectlist-filter-local-authority"
                                           for="filter-authority-searches">
                                        Local authority
                                    </label>
                                </h2>
                            </div>
                            <div class="govuk-accordion__section-content">
                                <input type="text" class="govuk-input govuk-!-display-none govuk-!-margin-bottom-2"
                                       id="filter-authority-searches" placeholder="Type to filter local authorities..."
                                       aria-labelledby="accordion-local-authorities-heading">
                                <div class="govuk-checkboxes">
                                    @foreach (var localAuthority in Model.AvailableLocalAuthorities)
                                    {
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input"
                                                   id="filter-project-local-authority-@localAuthority.Stub()"
                                                   name="selectedLocalAuthorities" type="checkbox"
                                                   value="@localAuthority"
                                                   data-cy="select-projectlist-filter-local-authority-@localAuthority"
                                                   @(Model.SelectedLocalAuthorities.Contains(localAuthority) ? "checked" : null)/>
                                            <label class="govuk-label govuk-checkboxes__label"
                                                   for="filter-project-local-authority-@localAuthority.Stub()">
                                                @localAuthority
                                            </label>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="govuk-accordion__section">
                            <div class="govuk-accordion__section-header">
                                <h2 class="govuk-accordion__section-heading">
                                    <label class="govuk-accordion__section-button"
                                           id="accordion-trust-heading"
                                           data-cy="select-projectlist-filter-trust"
                                           for="filter-trust-searches">
                                        Trust
                                    </label>
                                </h2>
                            </div>
                            <div class="govuk-accordion__section-content">
                                <input type="text" class="govuk-input govuk-!-display-none govuk-!-margin-bottom-2"
                                       id="filter-trust-searches" placeholder="Type to filter trusts..."
                                       aria-labelledby="accordion-trust-heading">
                                <div class="govuk-checkboxes">
                                    @foreach (var trust in Model.AvailableTrusts)
                                    {
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input"
                                                   id="filter-project-trust-@trust.Stub()"
                                                   name="selectedTrusts" type="checkbox"
                                                   value="@trust"
                                                   data-cy="select-projectlist-filter-trust-@trust"
                                                   @(Model.SelectedTrusts.Contains(trust) ? "checked" : null) />
                                            <label class="govuk-label govuk-checkboxes__label"
                                                   for="filter-project-trust-@trust.Stub()">
                                                @CultureInfo.CurrentCulture.TextInfo.ToTitleCase(trust.ToLower())
                                            </label>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="govuk-!-margin-top-2">
                    <button class="govuk-button" data-module="govuk-button" data-test-id="submit-button"
                            id="filter-submit"
                            data-cy="select-projectlist-filter-apply">
                        Apply filters
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/src/filter.js" asp-add-nonce defer></script>


