@using Dfe.Academisation.ExtensionMethods
@using Dfe.ManageSchoolImprovement.Application.Common.Models
@using System.Security.Claims
@using System.Globalization

@{
    DateTime createdDate = @Model.CreatedOn;
    DateTime? lastInspectionDate = null;

    if (@Model.LastInspectionDate != null || !string.IsNullOrWhiteSpace(@Model.LastInspectionDate))
    {
        lastInspectionDate = DateTime.ParseExact(Model.LastInspectionDate, "dd/mm/yyyy", CultureInfo.CurrentCulture);
    }

    bool deliveryOfficerAssigned = (bool)(TempData["deliveryOfficerAssigned"] ?? false);
    bool deliveryOfficerUnassigned = (bool)(TempData["deliveryOfficerUnassigned"] ?? false);
    var contactAddedOrUpdated = (string?)TempData["contactAddedOrUpdated"];
    var displayAssignedTo = Model.AssignedDeliveryOfficerEmailAddress == null || string.IsNullOrWhiteSpace(Model.AssignedDeliveryOfficerEmailAddress);
    var displayAdvisedBy = (Model.AdviserEmailAddress == null || string.IsNullOrWhiteSpace(Model.AdviserEmailAddress));
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      @if (deliveryOfficerAssigned || deliveryOfficerUnassigned)
      {
          <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
              <div class="govuk-notification-banner__header">
                  <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                      Success
                  </h2>
              </div>
             <div class="govuk-notification-banner__content">
                @if (deliveryOfficerAssigned)
                {
                   <h3 class="govuk-notification-banner__heading" id="project-note-added">
                      Delivery officer assigned
                   </h3>
                }
                else
                {
                   <h3 class="govuk-notification-banner__heading" id="project-note-added">
                      Delivery officer unassigned
                   </h3>
                }
             </div>
          </div>
      }
        @if (!string.IsNullOrWhiteSpace(contactAddedOrUpdated))
        {
            <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                <div class="govuk-notification-banner__header">
                    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                        Success
                    </h2>
                </div>
                <div class="govuk-notification-banner__content"> 
                    <h3 class="govuk-notification-banner__heading" id="contact-added">
                        Contact @contactAddedOrUpdated
                    </h3> 
                </div>
            </div>
        }
      <span class="govuk-caption-xl" data-cy=".govuk-caption-xl">URN: @Model.SchoolUrn</span>
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-2" data-cy="select-heading">
         @Model.SchoolName
      </h1> 
      <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Date added
                </dt>
                <dd class="govuk-summary-list__value">
                    @createdDate.ToDateString()
                </dd> 
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Date of last OFSTED inspection
                </dt>
                <dd class="govuk-summary-list__value">
                    @((Model.LastInspectionDate == null || string.IsNullOrWhiteSpace(@Model.LastInspectionDate)) ? "Unknown" : lastInspectionDate.ToDateString())
                </dd> 
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Quality of education
                </dt>
                <dd class="govuk-summary-list__value">
                    <partial name="_OfstedJudgement" model="Model.QualityOfEducation" />
                </dd> 
            </div> 
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Leadership and management
                </dt>
                <dd class="govuk-summary-list__value">
                    <partial name="_OfstedJudgement" model="Model.LeadershipAndManagement" />
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Assigned to
                </dt>
                <dd class="govuk-summary-list__value">
                    <span class="@(displayAssignedTo? "empty": "")" data-id="assigned-user">@(displayAssignedTo ? "Empty" : Model.AssignedDeliveryOfficerFullName)</span>
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link govuk-!-padding-left-50" asp-page="@Links.AssignDeliveryOfficer.Index.Page" asp-route-id="@Model.Id">Change</a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Advised by
                </dt>
                <dd class="govuk-summary-list__value">
                    <span class="@(displayAdvisedBy? "empty": "")" data-id="assigned-user">@(displayAdvisedBy ? "Empty" : Model.AdviserEmailAddress)</span>
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link govuk-!-padding-left-50" asp-page="@Links.TaskList.AllocateAdviser.Page" asp-route-id="@Model.Id">Change</a>
                </dd>
            </div>
        </dl> 
        @if (User.IsInRole(Role.Support))
        {
            <p class="govuk-body govuk-!-margin-top-3">
                <a class="govuk-button govuk-button--warning" asp-page="@Links.DeleteProject.ConfirmToDeleteProject.Page" asp-route-id="@Model.Id">Delete school</a>
            </p>
        }

   </div>
   <div class="govuk-grid-column-full">
        <partial name="_SubMenu" model="@Model"/>
   </div>   
</div>